/* Carousel Control */
.carousel-control{
    border: 2px;
    border-radius: 23px;
    display: block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 16px 10px 0;
    /*position: static;*/
    height: 40px;
    width: 40px;
}

.carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,0.4) 0,rgba(0,0,0,.2) 100%)
}

/* Mobile Only */
@media (max-width: 767px) {
    .page-header {
        text-align: center;
    }
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}