/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	#brand-image {
		height: 100px;
	}
	#brand-title {
		font-size: 60px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	#brand-image {
		height: 100px;
		margin-top: -30px;
	}
	#brand-title {
		font-size: 60px;
	}
}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px) {

		#brand-image {
			height: 50px;
			margin-top: -12px;
		}

		#brand-title {
			font-size: 30px;
		}
	}

	/* Extra Small Devices, Phones */
	@media only screen and (max-width: 480px) {

		#brand-image {
			height: 50px;
			margin-top: -12px;
		}
		#brand-title {
			font-size: 30px;
		}
	}

	/* Custom, iPhone Retina */
	@media only screen and (max-width: 320px) {

		#brand-image {
			height: 50px;
			margin-top: -12px;
		}
		#brand-title {
			font-size: 30px;
		}

	}


	/*==========  Mobile First Method  ==========*/
	/* Custom, iPhone Retina */
	@media only screen and (min-width: 320px) {
	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width: 480px) {
	}

	/* Small Devices, Tablets */
	@media only screen and (min-width: 768px) {
	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width: 992px) {
	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width: 1200px) {
	}
