/*==========  Desktop First Method  ==========*/

/* X-Large Devices, Wide Screens */
@media only screen and (min-width : 1201px) {

    #brand-image {
        height: 100px;
    }
    #brand-title {
        font-size: 60px;
    }
    #navbar-brand {
        padding-top: 15px;
    }
    .container {
        padding-top: 100px;
    }
    .navbar-nav > li > a {
        line-height: 95px;
    }
	.card-deck {
		display: flex;
	}
	.card-left {
		margin-left: 0;
		margin-right: 8px;
	}
	.card-right {
		margin-left: 8px;
		margin-right: 0;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.card-deck {
		 display: inline;
		 margin-left: 0;
		 margin-right: 0;
	 }
	.card-left {
		margin-left: 0;
		margin-right: 0;
	}
	.card-right {
		margin-left: 0;
		margin-right: 0;
	}

	#brand-image {
		height: 100px;
	}
	#brand-title {
		font-size: 60px;
	}
	#navbar-brand {
		padding-top: 15px;
	}
	.container {
		padding-top: 100px;
	}
	.navbar-nav > li > a {
		line-height: 95px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	#brand-image {
		height: 100px;
		margin-top: -30px;
	}
	#brand-title {
		font-size: 60px;
	}
	#navbar-brand {
		padding-top: 15px;
	}
	.container {
		padding-top: 100px;
	}

	.navbar-nav > li > a {
		line-height: 95px;
	}
}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px) {

		#brand-image {
			height: 50px;
			margin-top: -12px;
		}

		#brand-title {
			font-size: 30px;
		}
		#navbar-brand {
			padding-top: 10px;
		}
		.container {
			padding-top: 60px;
		}
		.navbar-nav > li > a {
			line-height: 45px;
		}
	}

	/* Extra Small Devices, Phones */
	@media only screen and (max-width: 480px) {

		#brand-image {
			height: 50px;
			margin-top: -12px;
		}
		#brand-title {
			font-size: 30px;
		}
		#navbar-brand {
			padding-top: 10px;
		}
		.container {
			padding-top: 60px;
		}
		.navbar-nav > li > a {
			line-height: 45px;
		}
	}

	/* Custom, iPhone Retina */
	@media only screen and (max-width: 320px) {

		#brand-image {
			height: 50px;
			margin-top: -12px;
		}
		#brand-title {
			font-size: 30px;
		}
		#navbar-brand {
			padding-top: 10px;
		}
		.container {
			padding-top: 60px;
		}
		.navbar-nav > li > a {
			line-height: 45px;
		}
	}


	/*==========  Mobile First Method  ==========*/
	/* Custom, iPhone Retina */
	@media only screen and (min-width: 320px) {
	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width: 480px) {
	}

	/* Small Devices, Tablets */
	@media only screen and (min-width: 768px) {
	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width: 992px) {
	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width: 1200px) {
	}
