<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content=""/>
<meta name="title" content=""/>
<meta name="author" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="keywords" content="excursium"/>

<link rel="stylesheet" type="text/css" href="../../resources/css/footer.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="apple-touch-icon" sizes="180x180" href="../../resources/img/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../../resources/img/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../../resources/img/favicons/favicon-16x16.png"/>
    <link rel="manifest" href="../../resources/img/favicons/site.webmanifest"/>
    <link rel="mask-icon" href="../../resources/img/favicons/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="msapplication-TileColor" content="#ffc40d"/>
    <meta name="theme-color" content="#ffffff"/>

<link rel="stylesheet" type="text/css" href="../../resources/css/styles.css"/>
<link rel="stylesheet" href="../../resources/css/media.css"/>
<title>404</title>
</head>
<body style="background-color: #f9f9f9;">
<div class="content"
th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
<div th:replace="fragments/header :: header"></div>
<div class="container">
<h1 style="align-content: center; vertical-align: middle" th:text="${#messages.msg('error.404')}">Страница 404!</h1>
    <h1 style="align-content: center; vertical-align: middle" th:text="${#messages.msg('error.404.add.0')}">Ух, описание ее</h1>
<h2 style="align-content: center; vertical-align: middle"><a href="/index#contact" th:text="${#messages.msg('error.404.add.1')}">Напишите нам, если у вас возникли проблемы</a></h2>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>