<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>*/-->
    <meta name="description" content=""/>
    <meta name="title" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="keywords" content="excursium"/>

    <title th:text="${#messages.msg('titles.add_event')}">Добавить тур</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/footer.css"/>
    <link rel="stylesheet" href="../../resources/libs/bootstrapformhelpers/css/bootstrap-formhelpers.min.css"/>
    <link rel="stylesheet" href="../../resources/libs/bootstrap-select/css/bootstrap-select.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../resources/libs/datetimepicker/css/datetimepicker.min.css"/>

    <link rel="icon" href="../../resources/img/icon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../../resources/img/icon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="../../resources/css/mycards.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/styles.css"/>
    <link rel="stylesheet" href="../../resources/css/media.css"/>

    <style rel="stylesheet">.form-control {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 12px;
        margin-top: 0;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid #bdbdbd
    }
    .bootstrap-select.form-control:not([class*="col-"]) {
         width: auto;
     }

    .dropdown-toggle {
        border-radius: 4px!important;
    }
    select.bs-select-hidden, select.selectpicker {
        display: inline-block!important;
    }</style>
</head>
<body style="background-color: #f9f9f9;">
<!--/*@thymesVar id="inputEvent" type="com.heroku.demo.event.Event"*/-->
<!--/*@thymesVar id="message" type="com.heroku.demo.utils.MessageUtil"*/-->
<!--/*@thymesVar id="error_data" type="java.lang.String"*/-->
<div class="content"
     th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}, lang = ${#locale.getLanguage().toString()=='en'?1:0}">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div class="page-header">
            <h2 th:text="${#messages.msg('titles.add_event')}">Добавление экскурсии</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-7 col-lg-6">

                <!-- /* Handling the flash message */-->
                <th:block th:if="${message != null}">
                    <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">
                        &nbsp;
                    </div>
                </th:block>

                <form th:object="${inputEvent}" method="POST" action="/events/add" enctype="multipart/form-data"
                      autocomplete="off">

                    <div class="panel panel-default">
                        <div class="panel-heading" th:text="${#messages.msg('words.name')}">
                            Название
                        </div>
                        <div class="panel-body">
                            <input name="name" type="text" class="form-control" id="name"
                                   th:value="${inputEvent.getName()}" required="" minlength="10" maxlength="35"/>
                            <label for="name" th:if="${#fields.hasErrors('name')}"
                                   th:text="${#messages.msg('error.event.name')}" th:class="'error'">Name
                                Error</label>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" th:text="${#messages.msg('words.description')}">
                            Описание
                        </div>
                        <div class="panel-body">
                            <textarea name="description" minlength="150" maxlength="1000" type="text"
                                      id="description" style="resize: vertical"
                                      class="form-control" required="" th:text="${inputEvent.getDescription()}"></textarea>
                            <label for="description" th:if="${#fields.hasErrors('description')}"
                                   th:text="${#messages.msg('error.event.description')}" th:class="'error'">Description
                                Error</label>
                        </div>
                    </div>
                    <div class="row ml-0 mr-0">
                        <div class="panel panel-default left-input col-sm-6">
                            <div class="panel-heading" th:text="${#messages.msg('words.type_of_excursion')}">
                                Категория экскурсии
                            </div>
                            <div class="panel-body">
                                <div class="input-group">
                                    <select name="category" id="category" class="form-control selectpicker"
                                            th:selected="${inputEvent.getCategory()}?${inputEvent.getCategory()}:0">
                                        <option value="0" th:text="${#messages.msg('category.0')}">Развлечения</option>
                                        <option value="1" th:text="${#messages.msg('category.1')}">Наука</option>
                                        <option value="2" th:text="${#messages.msg('category.2')}">История</option>
                                        <option value="3" th:text="${#messages.msg('category.3')}">Искусство</option>
                                        <option value="4" th:text="${#messages.msg('category.4')}">Производство</option>
                                        <option value="5" th:text="${#messages.msg('category.5')}">Гастрономия</option>
                                        <option value="6" th:text="${#messages.msg('category.6')}">Квесты</option>
                                        <option value="7" th:text="${#messages.msg('category.7')}">Экстрим</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default right-input col-sm-5">
                            <div class="panel-heading">
                                Возрастное ограничение
                            </div>
                            <div class="panel-body">
                                <div class="input-group">
                                    <select name="ageLimit" id="age_limit" class="form-control selectpicker"
                                            th:selected="${inputEvent.getAgeLimit()}?${inputEvent.getAgeLimit()}:0">
                                        <option value="0">0+</option>
                                        <option value="6">6+</option>
                                        <option value="12">12+</option>
                                        <option value="16">16+</option>
                                        <option value="18">18+</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Тип экскурсии
                        </div>
                        <div class="panel-body">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="type_of_dates" id="optionsRadios1" value="0" checked=""
                                           onclick="radio(0);"/>
                                    <b>Индивидуальная по запросу.</b> Заказать экскурсию можно на дни недели, которые указали в
                                    расписании. Оплатить заказ можно только после вашего подтверждения.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="type_of_dates" id="optionsRadios2" value="1"
                                           onclick="radio(1);"/>
                                    <b>Групповая по еженедельному расписанию.</b> Вы составляете повторяющееся расписание
                                    экскурсии, участники записываются на доступные даты независимо друг от друга.
                                    Бронирования подтверждаются автоматически.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="type_of_dates" id="optionsRadios3" value="2"
                                           onclick="radio(2);"/>
                                    <b>Групповая по фиксированным датам.</b> Вы указываете даты проведения экскурсии, участники
                                    записываются на доступные даты независимо друг от друга. Бронирования подтверждаются
                                    автоматически.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Расписание
                        </div>
                        <div class="panel-body" id="radio0">
                            <div class="day-of-week" id="00">
                                <b>Пн.</b><a class="add-time" id="0" onclick="addTime(0, 0);">Добавить время</a>
                            </div>
                            <div class="day-of-week" id="01">
                                <b>Вт.</b><a class="add-time" id="1" onclick="addTime(0, 1);">Добавить время</a>
                            </div>
                            <div class="day-of-week" id="02">
                                <b>Ср.</b><a class="add-time" id="2" onclick="addTime(0, 2);">Добавить время</a>
                            </div>
                            <div class="day-of-week" id="03">
                                <b>Чт.</b><a class="add-time" id="3" onclick="addTime(0, 3);">Добавить время</a>
                            </div>
                            <div class="day-of-week" id="04">
                                <b>Пт.</b><a class="add-time" id="4" onclick="addTime(0, 4);">Добавить время</a>
                            </div>
                            <div class="day-of-week" id="05">
                                <b>Сб.</b><a class="add-time" id="5" onclick="addTime(0, 5);">Добавить время</a>
                            </div>
                            <div class="day-of-week" id="06">
                                <b>Вс.</b><a class="add-time" id="6" onclick="addTime(0, 6);">Добавить время</a>
                            </div>
                        </div>

                        <div class="panel-body" id="radio1" style="display: none;">
                            <div class="day-of-week">
                                <b>Пн.</b><span id = "10"></span><a class="add-time" onclick="addTime(1, 0);">Добавить время</a>
                            </div>
                            <div class="day-of-week">
                                <b>Вт.</b><span id = "11"></span><a class="add-time" onclick="addTime(1, 1);">Добавить время</a>
                            </div>
                            <div class="day-of-week">
                                <b>Ср.</b><span id = "12"></span><a class="add-time" onclick="addTime(1, 2);">Добавить время</a>
                            </div>
                            <div class="day-of-week">
                                <b>Чт.</b><span id = "13"></span><a class="add-time" onclick="addTime(1, 3);">Добавить время</a>
                            </div>
                            <div class="day-of-week">
                                <b>Пт.</b><span id = "14"></span><a class="add-time" onclick="addTime(1, 4);">Добавить время</a>
                            </div>
                            <div class="day-of-week">
                                <b>Сб.</b><span id = "15"></span><a class="add-time" onclick="addTime(1, 5);">Добавить время</a>
                            </div>
                            <div class="day-of-week">
                                <b>Вс.</b><span id = "16"></span><a class="add-time" onclick="addTime(1, 6);">Добавить время</a>
                            </div>
                        </div>

                        <div class="panel-body" id="radio2" style="display: none;">
                            <div class="day-of-week">
                                <div id = "20"></div>
                                <b><a class="add-time" onclick="addDate();">Добавить дату</a></b>
                            </div>
                        </div>
                    </div>

                    <div class="row ml-0 mr-0">
                    <div class="panel panel-default col-sm-6 left-input">
                        <div class="panel-heading" th:text="${#messages.msg('words.users_count')}">
                            Количество участников
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                            <input name="usersCount" id="users_count" type="number" class="form-control" required=""
                                   min="1" max="100" th:value="${inputEvent.getUsersCount()}?${inputEvent.getUsersCount()}"/>
                            <span class="input-group-addon">человек</span>
                            </div>
                            <label for="users_count" th:if="${#fields.hasErrors('usersCount')}"
                                   th:text="${#messages.msg('error.event.users_count')}" th:class="'error'">UsersCount
                                Error</label>
                        </div>
                    </div>

                    <div class="panel panel-default col-sm-5 right-input">
                        <div class="panel-heading" th:text="${#messages.msg('words.duration')}">
                            Длительность
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input name="duration" id="duration" type="number" class="form-control"
                                       required="" th:value="${inputEvent.getDuration()}?${inputEvent.getDuration()}" min="1" max="240"/>
                                <span class="input-group-addon" th:text="${#messages.msg('words.hours')}">часов</span>
                            </div>
                            <label for="duration" th:if="${#fields.hasErrors('duration')}"
                                   th:text="${#messages.msg('error.event.duration')}" th:class="'error'">Duration
                                Error</label>
                        </div>
                    </div>
                    </div>

                    <div class="row ml-0 mr-0">
                    <div class="panel panel-default col-sm-6 left-input">
                        <div class="panel-heading" th:text="${#messages.msg('words.city')}">
                            Город
                        </div>
                        <div class="panel-body">
                            <select class="selectpicker form-control" data-live-search="true" name="city_and_country">
                                <!--/*@thymesVar id="utils" type="com.heroku.demo.utils.UtilsForWeb"*/-->
                                <th:block th:each="j : ${#numbers.sequence(0, utils.getCountriesCount()-1)}">
                                    <option th:each="i : ${#numbers.sequence(0, utils.getCitiesCount(j)-1)}"
                                            th:value="${j}+'.'+${i}"
                                            th:text="${#messages.msg('city.'+j+'.'+i)}+', '+ ${#messages.msg('country.'+j)}">
                                        Москва, Россия
                                    </option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="panel panel-default col-sm-5 right-input">
                        <div class="panel-heading" th:text="${#messages.msg('words.place')}">
                            Место встречи
                        </div>
                        <div class="panel-body">
                            <input name="place" id="place" type="text" class="form-control" required=""
                                   minlength="5" maxlength="100"
                                   th:value="${inputEvent.getPlace()}?${inputEvent.getPlace()}"/>
                            <label for="place" th:if="${#fields.hasErrors('place')}"
                                   th:text="${#messages.msg('error.event.place')}" th:class="'error'">Place Error</label>
                        </div>
                    </div>
                    </div>

                    <div class="row ml-0 mr-0">
                    <div class="panel panel-default col-sm-6 left-input">
                        <div class="panel-heading" th:text="${#messages.msg('words.price')}">
                            Цена
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input name="price" id="price" type="number" class="form-control" required=""
                                       min="100" max="100000" th:value="${inputEvent.getPrice()}?${inputEvent.getPrice()}"/>
                                <span class="input-group-addon">&#8381;</span>
                            </div>
                            <b><p class="mb-0 mb-0 mt-05 f16" id = "price-help" style="display: none;"><span id = "our_price">100</span> рублей (15%) путешественники заплатят нам на сайте, а <span id = "guide_price">600</span> рублей - вам на месте</p></b>
                            <label for="price" th:if="${#fields.hasErrors('price')}"
                                   th:text="${#messages.msg('error.event.price')}" th:class="'error'">Price Error</label>
                        </div>
                    </div>

                    <div class="panel panel-default col-sm-5 right-input">
                        <div class="panel-heading" th:text="${#messages.msg('words.language')}">
                            Язык
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <select name="language" class="form-control selectpicker"
                                        th:selected="${inputEvent.getLanguage()}?${inputEvent.getLanguage()}">
                                    <option value="0" th:text="${#messages.msg('language.0')}">Русский</option>
                                    <option value="1" th:text="${#messages.msg('language.1')}">Английский</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" th:text="${#messages.msg('words.photos')}">
                            Фотографии
                        </div>
                        <div class="panel-body">
                            <input type="file" multiple="multiple" required="" size="30000000"
                                   accept="image/jpeg,image/png" name="files[]" style="display:none;" id="upload_input"/>
                            <div class="result" id="result"></div>
                            <div id = "add-photo" class="upload-img" draggable="false" style="cursor: auto;padding-top: 9%;">
                                <input type="button" value="Добавить" class="btn btn-block" tabindex="9" id="upload_button" style="width: auto;margin: auto;"/>
                            </div>
                        </div>
                    </div>

                    <a class="btn btn-default" th:text="${#messages.msg('words.submit')}" onclick="sbmt();">Отправить</a>

                    <button type="submit" value="Upload" style="display: none" id="sbmt">Отправить</button>
                </form>
            </div>
            <div class="hidden visible-md visible-lg col-md-5 col-lg-6 demo">
                <div class="page-header mt-1">
                    <h3>Такой она будет в списке экскурсий</h3>
                </div>
                <div class="card card-cascade narrower">
                    <img class="img_age" id="card-age_limit" src="../../resources/img/age_limits/0.png"/>
                    <!--/*Card image*/-->
                    <div class="view overlay hm-white-slight z-depth-1" style="margin-top: 20px;">
                        <div class="img_crop"><img src="../../resources/img/bg-cta.jpg"
                                                   class="img-fluid" alt=""
                                                   style="height: 240px; min-width: -webkit-fill-available;"/>
                        </div>
                        <div class="mask waves-effect waves-light"></div>
                    </div>
                    <!--/*Card image*/-->
                    <!--/*Card content*/-->
                    <div class="card-body pb-0 no-padding text-center"><!--/*Category & Title*/-->
                        <h4 id="card-category">Развлечения</h4>
                        <h3 class="card-title">
                            <strong id="card-title">%Название экскурсии%</strong>
                        </h3>
                        <!--/*Rating*/-->
                        <ul class="rating">
                            <li th:each="i : ${#numbers.sequence(0, 4)}"><i class="fa fa-star-o"></i></li>
                            <li><span>(0)</span></li>
                        </ul>
                        <!--/*Description*/-->
                        <p class="card-text" style="font-size: 18px; color: #000000" id="card-text"
                           align="justify">%Краткое описание%</p>
                    </div>
                    <!--/*Card footer*/-->
                    <div class="card-footer links-light">
                        <h3 class="left card-footer-left mt-0 mb-0"><strong id="card-price">%PRICE%</strong></h3>
                        <a class="btn btn-primary waves-effect waves-light right disabled mt-05">Открыть</a>
                    </div>
                    <!--/*End-of-Card content*/-->
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../resources/libs/bootstrap-select/js/bootstrap-select.js"></script>
<script type="text/javascript" src="../../resources/libs/datetimepicker/js/bower_components/moment/moment.min.js"></script>
<script type="text/javascript" src="../../resources/libs/datetimepicker/js/bower_components/moment/locale/ru.js"></script>
<script type="text/javascript" src="../../resources/libs/datetimepicker/js/datetimepicker.min.js"></script>
<script type="text/javascript" src="../../resources/js/Sortable.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    function remove_img(el) {
        el.parent().remove();
        if ($('#result').children().length<4)
            $('#add-photo').css('display','block');
    }
    function sbmt() {
        // if ($('#optionsRadios1').checked()) {$('#radio1').remove();$('#radio2').remove();}
        // if ($('#optionsRadios2').checked()) {$('#radio0').remove();$('#radio2').remove();}
        // if ($('#optionsRadios3').checked()) {$('#radio0').remove();$('#radio1').remove();}
        var st = '';
        $('#result').children().each(function(index, elem) {
            var img = elem.getElementsByClassName('img-rounded');
            console.log("Дочерний элемент: " + img.src + " " + img.className);
            st = st + ' ' + img.src;
        });
        alert(st);
        $("#upload_input").remove();
        //$('#sbmt').click();
    }
    function generateOptions(select) {
        var st = '<select class="form-control selectpicker my-sp"' + select + '><option value="null">--:--</option>';
        var hour = 7;
        var zero = '0';
        for (var i=0; i<48; i++){
            if (i%2===0) hour++;
            if (hour===24) hour = 0;
            var minutes;
            if (i%2===0)
                minutes = '0';
            else minutes = '3';
            if (hour<10) zero = '0';
            else zero = '';
            st += '<option value="' + i + '">' + zero + hour + ':' + minutes + '0</option>';
        }
        st+='</select>';
        return st;
    }
    function addDate() {
        $('#20').append('<div class="day-of-week">' +
            '<div class="form-group" style="margin-top: 15px;">'+
            '<div class="input-group date" id="datetimepicker" style="display: flex;">'+
            '<input type="text" class="form-control" style="width: auto;">'+
            '<span class="input-group-addon" style="width: auto;margin-right: 20px;border-left-width: 0;border-radius: 0 4px 4px 0;">'+
            '<span class="glyphicon glyphicon-calendar"></span>'+
            '</span>'+
            generateOptions(' style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;width: auto;" name="time"')+
            '</div></div></div>');
        $('.date').datetimepicker({
            locale: 'ru',
            format: 'DD.MM.YYYY',
            minDate: moment(),
            maxDate: moment().add(3, 'months')
        });
    }
    function addTime(type, dayOfWeek) {
        if(type===0) {
            $('#' + type + dayOfWeek).append(generateOptions(' name="time-down"') +
                '<span> –</span>' +
                generateOptions(' name="time-up"'));
            $('#' + dayOfWeek).css('display','none');
        }
        if(type===1) {
            $('#' + type + dayOfWeek).append(generateOptions(' name="time"'));
        }
    }
    function radio(type) {
        if (type === 0) {$('#radio0').css('display', 'block');$('#radio1').css('display', 'none');$('#radio2').css('display', 'none');}
        if (type === 1) {$('#radio0').css('display', 'none');$('#radio1').css('display', 'block');$('#radio2').css('display', 'none');}
        if (type === 2) {$('#radio0').css('display', 'none');$('#radio1').css('display', 'none');$('#radio2').css('display', 'block');}
    }
    function setimage() { // функция загрузки на сервер
        var iter = $('.upload-img').length;
        var max = 5 - iter;
        if (max <= 0) {
            alert('Максимально количество фотографий = 4!');
            return;
        }
        $input = $("#upload_input");
        var id = [[${inputEvent.getId()}]];
        var $url = '/upload_images';
        var inputFile = document.getElementById('upload_input').files;
        for (var i = 0; i < inputFile.length; i++) {
            var fd = new FormData;
            if (i > max - 1) { // проверка на кол-во
                alert('Максимально количество фотографий = 4!');
                break;
            }
            fd.append('img', $input.prop('files')[i]);
            $.ajax({
                url: $url,
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    var final = '<div class="upload-img"><img src="'+data+'" class="img-rounded"/>"' +
                    '"<div class="closer" onclick="remove_img($(this));"></div></div>';
                    var $result = $('#result');
                    if ($result.children().length<4)
                        $result.append(final); // вставляю миниатюру в #result
                    if ($result.children('.upload-img').length>=4)
                        $('#add-photo').css('display','none');
                },
                error: function (data) {
                    alert("Не все фотографии загрузились. Повторите, пожалуйста, попытку.");
                }
            });
        }
    }
    $(document).ready(function () {
        $("#upload_button").click(function () {
            $("#upload_input").click();
        });

        $("#upload_input").change(function () {
            setimage();
        });
    });
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        var container = document.getElementById("result");
        var sort = Sortable.create(container, {
            animation: 150,
            /*handle: ".tile__title", // Restricts sort start click/touch to the specified element*/
            /*draggable: ".tile", // Specifies which items inside the element should be sortable*/
            onUpdate: function (evt/**Event*/) {
                var item = evt.item; // the current dragged HTMLElement
            },
            draggable: ".upload-img"
        });

        $("#description").keyup(function () {
            var txt = $('#description').val();
            if (txt.length < 120) $('#card-text').text(txt);
            else {
                var i = 0;
                for (i = 0; i < 120; i++) {
                    var substr = txt.substring(120 - i, 120);
                    if (substr.indexOf('.') !== -1 || substr.indexOf('!') !== -1 || substr.indexOf('?') !== -1) break;
                }
                if (i !== 120 && i < 50) $('#card-text').text(txt.substring(0, 120 - i + 1));
                else $('#card-text').text(txt.substring(0, 117) + '…');
            }
        });
        $("#name").keyup(function () {
            var txt = $('#name').val();
            $('#card-title').text(txt);
        });
        $("#price").keyup(function () {
            var txt = $('#price').val();
            $('#card-price').text(txt + "₽");
            if (txt!=='') {
                $('#price-help').css('display','block');
                var our_price = (txt / 20 * 3).toFixed();
                $('#our_price').text(our_price);
                $('#guide_price').text(txt - our_price);
            } else $('#price-help').css('display','none');
        });
        $("#category").change(function () {
            var txt = $('#category').val();
            var lang = [[${#locale.getLanguage().toString()=='en'?1:0}]];
            var ru = ["Развлечения", "Наука", "История", "Искусство", "Квесты", "Экстрим", "Производство", "Гастрономия"];
            var en = ["Entertainment", "Science", "History", "Art", "Quests", "Extreme", "Manufacture", "Gastronomy"];
            var categories = lang === 0 ? ru[txt] : en[txt];
            $('#card-category').text(categories);
        });
        $("#age_limit").change(function () {
            var age = $("#age_limit").val();
            var src = "../../resources/img/age_limits/" + age + ".png";
            $("#card-age_limit").attr("src", src);
        })
    });
    /*]]>*/
</script>
</html>