<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content=""/>
<meta name="title" content=""/>
<meta name="author" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="keywords" content="excursium"/>
<title th:text="${#messages.msg('titles.excursions')}">Экскурсии</title>

<link rel="stylesheet" type="text/css" href="../../resources/css/footer.css"/>
<link rel="stylesheet" href="../../resources/libs/bootstrap-select/css/bootstrap-select.css"/>
<link rel="stylesheet" href="../../resources/css/slider/jslider.css" type="text/css"/>
<link rel="stylesheet" href="../../resources/css/slider/jslider.plastic.css" type="text/css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<link rel="icon" href="../../resources/img/icon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="../../resources/img/icon.ico" type="image/x-icon"/>

<link rel="stylesheet" type="text/css" href="../../resources/css/styles.css"/>
<link rel="stylesheet" href="../../resources/css/cards.css"/>
<link rel="stylesheet" href="../../resources/css/media.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../resources/libs/bootstrap-select/js/bootstrap-select.js"></script>
<script type="text/javascript" src="../../resources/js/slider/jshashtable-2.1_src.js"></script>
<script type="text/javascript" src="../../resources/js/slider/jquery.numberformatter-1.2.3.js"></script>
<script type="text/javascript" src="../../resources/js/slider/tmpl.js"></script>
<script type="text/javascript" src="../../resources/js/slider/jquery.dependClass-0.1.js"></script>
<script type="text/javascript" src="../../resources/js/slider/draggable-0.1.js"></script>
<script type="text/javascript" src="../../resources/js/slider/jquery.slider.js"></script>
</head>
<body style="background-color: #f9f9f9;">
<div class="content"
th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}, lang = ${#locale.getLanguage().toString()=='en'?1:0}">
<div th:replace="fragments/header :: header"></div>
<div class="container">
<!--/*@thymesVar id="sort_by" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="minMaxPrice" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="category" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="page" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="pageCount" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="events" type="java.util.List"*/-->
    <!--/*@thymesVar id="country" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="city" type="java.lang.Integer"*/-->
<div class="row">
    <!--/*@thymesVar id="utils" type="com.heroku.demo.utils.UtilsForWeb"*/-->
<!--/*<h2 class="title text-center d-md-none">Категории</h2>
<h2 class="title d-none d-md-block right">Категории</h2>*/-->

    <div class="panel-body" style="padding-bottom: 0;">
        <div class="chip" style="margin-right: 0">
            <a href="/events/countries">
                <img alt="" src="../../resources/img/icons/countries-ico.png"/>
                <span th:text="${#messages.msg('country.all')}">Все страны</span>
            </a>
        </div>
        <i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size: 16px;"></i>
        <div class="chip" style="margin-right: 0">
            <a th:href="@{/events/cities(country=${country})}">
                <img th:src="${utils.getCountryUrl(country)}" alt=""
                     src="../../resources/img/icons/russia-ico.png"/>
                <span th:text="${#messages.msg('country.'+country)}">Россия</span>
            </a>
        </div>
        <i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size: 16px;"></i>
        <div class="chip" style="margin-right: 0">
            <a th:href="@{/events/list(country=${country}, city=${city})}" th:if="${category!=null}">
                <img th:src="${utils.getCityUrl(country, city)}" alt=""
                     src="../../resources/img/icons/irkutsk-ico.png"/>
                <span th:text="${#messages.msg('city.'+country+'.'+city)}">Иркутск</span>
            </a>
            <th:block th:if="${category==null}">
                <img th:src="${utils.getCityUrl(country, city)}" alt=""
                     src="../../resources/img/icons/irkutsk-ico.png"/>
                <span th:text="${#messages.msg('city.'+country+'.'+city)}">Иркутск</span>
            </th:block>
        </div>
        <th:block th:if="${category!=null}">
        <i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size: 16px;"></i>
        <div class="chip" style="margin-right: 0">
            <img th:src="${utils.getCategoryUrl(category)}" alt=""
                 src="../../resources/img/icons/science.png"/>
            <span th:text="${#messages.msg('category.'+category)}">Искусство</span>
        </div>
        </th:block>
    </div>
<div class="panel-body text-center">
<div class="chip"
th:each="i : ${#numbers.sequence(0, utils.getCategoriesCount()-1)}">
<a th:href="@{/events/list(category=${i}, sort_by = ${sort_by}, country = ${country}, city = ${city})}">
<img th:src="${utils.getCategoryUrl(i)}" alt=""
src="../../resources/img/user.png"/>
<span th:text="${#messages.msg('category.'+i)}">%Категория%</span>
</a>
</div>
</div>
<div class="col-sm-5 col-md-4 col-lg-3">
<div class="left-sidebar">
<h2>Фильтр</h2>
<form method="get" th:action="@{/events/list}">
    <input name="country" th:value="${country}" style="display: none"/>
    <input name="city" th:value="${city}" style="display: none"/>
<br/>
<div class="panel panel-default">
<div class="panel-heading" th:text="${#messages.msg('words.sort')}">Сортировка</div>
<div class="panel-body">
<div class="input-group">
<select name="sort_by" class="selectpicker">
<option value="-1" th:selected="${sort_by==-1}">По популярности</option>
<option value="2" th:selected="${sort_by==2}">Сначала дешевые</option>
<option value="3" th:selected="${sort_by==3}">Сначала дорогие</option>
<option value="5" th:selected="${sort_by==5}">По рейтингу</option>
<option value="1" th:selected="${sort_by==1}">По новизне</option>
</select>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" th:text="${#messages.msg('words.price')}">Цена</div>
<div class="panel-body">
<div class="layout-slider" style="width: 100%">
<span style="display: inline-block; width: 100%; padding: 0 5px;">
<input id="Slider1" type="slider" name="price"
th:value="${minMaxPrice}"/></span>
</div><!--/*<br/>*/--><!--/*<div class="checkbox">*/--><!--/*<input type="checkbox" id="is_barter" name="is_barter"/>*/--><!--/*<label for = "is_barter"><span>Отображать сделки по бартеру</span></label>*/--><!--/*</div>*/-->
<script th:inline="javascript">
/*<![CDATA[*/
var maxPrice = [[${maxPrice}]];
var minPrice = [[${minPrice}]];
var s50 = (minPrice + maxPrice) / 2;
var s33 = (minPrice + s50) / 2;
var s66 = (s50 + maxPrice) / 2;
jQuery("#Slider1").slider({
/*from: 1000,
to: 100000,
step: 500,
smooth: true,
round: 0,
dimension: "&nbsp;₽",
skin: "plastic"*/
from: minPrice,
to: maxPrice,
heterogeneity: ['33/' + s33, '66/' + s66],
scale: [minPrice, '|', s33, '|', s66, '|', maxPrice],
limits: false,
step: 10,
dimension: '&nbsp;₽',
skin: "plastic"
});
/*]]>*/

</script>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" th:text="${#messages.msg('words.time')}">Время</div>
<div class="panel-body">
<div class="layout-slider" style="width: 100%">
<span
style="display: inline-block; width: 100%; padding: 0 5px 0 0;">
<input id="Slider2" type="slider" name="time" value="600;1200"/></span>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
jQuery("#Slider2").slider({
from: 480,
to: 1440,
step: 15,
dimension: '',
skin: "plastic",
scale: ['8:00', '10:00', '12:00', '14:00', '16:00', '18:00', '20:00', '22:00', '24:00'],
limits: false,
calculate: function (value) {
var hours = Math.floor(value / 60);
var mins = value - hours * 60;
return (hours < 10 ? "0" + hours : hours) + ":" + (mins < 10 ? "0" + mins : mins);
},
onstatechange: function (value) {
console.dir(this);
}
});
/*]]>*/
</script>
</div>
</div>
<div class="input-group" style="display: none">
<input name="category" type="number" class="form-control" th:value="${category}"/>
</div>
<div class="text-center">
<button class="btn btn-default add-to-cart" type="submit">
<i class="fa fa-filter" aria-hidden="true"></i>
Фильтровать
</button>
</div>
</form>
<br class="d-md-none"/>
</div>
</div>
<div class="col-sm-7 col-md-8 col-lg-9">
<a th:href="@{/events/list(country = ${country}, city = ${city})}"><h2 class="title text-center" th:text="${#messages.msg('titles.excursions')}" style="margin-bottom: 15px;">Экскурсии</h2></a>
<!--/*Grid column*/-->
<th:block th:if="${events.size()>0}">
<div class="card-deck" th:each="i : ${#numbers.sequence( 0, events.size()-1, 2)}">
<th:block
th:with="inc = ${i!=events.size()-1?1:0}">
<div th:each="j : ${#numbers.sequence(i,i+inc)}" th:class="'card card-cascade narrower ' + ${j%2==0?'card-left':'card-right'}"
th:with="event=${events.get(j)}">
<!--/*@thymesVar id="event" type="com.heroku.demo.event.Event"*/-->
<!--/*Card image*/-->
<div class="view overlay hm-white-slight z-depth-1" style="margin-top: 20px;">
<div class="img_crop"><img src="../../resources/img/bg-cta.jpg" th:src="${event.getSrcImage(0)}"
                           class="img-fluid" alt="" style="height: 240px; min-width: -webkit-fill-available;"/></div>
<a th:href="@{/events/event(id = ${event.getId()})}"><div class="mask waves-effect waves-light"></div></a>
</div>
<!--/*Card image*/-->
<!--/*Card content*/-->
<div class="card-body pb-0 no-padding text-center"><!--/*Category & Title*/-->
<h5 th:text="${{event.getCategoryString()}}">%CATEGORY%</h5>
<h4 class="card-title">
<strong>
<h3><a th:href="@{/events/event(id=${event.getId()})}"
th:text="${event.name}">%NAME%</a></h3></strong>
</h4>
<!--/*Rating*/-->
<ul class="rating">
<li th:if="${event.getRate()!=-1}" th:text="${event.getRate()}"></li>
<th:block th:if="${(event.getIntRate()!=-1)and(event.getIntRate()!=0)}">
<li th:each="i : ${#numbers.sequence(0, event.getIntRate()-1)}"><i class="fa fa-star"></i></li>
</th:block>
<th:block th:if="${(event.getIntRate()!=-1)and(event.getIntRate()!=5)}">
<li th:each="i : ${#numbers.sequence(event.getIntRate(), 4)}"><i class="fa fa-star-o"></i></li>
</th:block>
<th:block th:if="${(event.getIntRate()==-1)}">
<li th:each="i : ${#numbers.sequence(0, 4)}"><i class="fa fa-star-o"></i></li>
</th:block>
<li th:text="'('+${event.getReviewsCount()}+')'"></li>
</ul>
<!--/*Description*/-->
<p class="card-text" style="font-size: medium; color: #000000"
th:text="${event.getSmallDescription()}" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae, earum eveniet ex facilis iure molestiae nam obcaecati odio perferendis rerum tempora veritatis. Adipisci aliquid corporis, culpa cumque dolor earum ex ipsa itaque magnam odit placeat quia quidem repellat voluptatum.</p>
</div>
<!--/*Card footer*/-->
<div class="card-footer links-light">
        <h4 class="left" style="color:#4285F4; padding: 0.4em 0.1em;"><strong th:text="${event.getPrice()}+'&#8381;'">%PRICE%</strong></h4>
        <span class="right">
<a th:href="@{/events/event(id=${event.getId()})}"
   class="btn btn-primary waves-effect waves-light"
   th:text="${#messages.msg('words.open')}">Открыть
</a>
</span>
    </div>
<!--/*End-of-Card content*/-->
<!--<div class="visible-sm-block visible-xs-block" th:if="${j==i}">
    <br/>
</div>TODO: test-->
</div>
</th:block>
</div>
</th:block>
<th:block th:unless="${events.size()>0}">
<div class="row">
<h2>Экскурсий по данным параметрам нет, попробуйте расширить поиск или искать в другой категории</h2><!--/*TODO: translate*/-->
</div>
</th:block>
<!--/*End-of-Grid column*/-->
<div class="row">
<!--/*Pagination */-->
<nav class="my-4 d-flex justify-content-center" th:if="${pageCount>1}">
<ul class="pagination pagination-circle pg-blue mb-0">
<!--/*TODO:
<div class="pull-left pagination-detail"><span class="pagination-info"></span><span
class="page-list"><span class="btn-group dropup"><button type="button"
class="btn btn-default  dropdown-toggle"
data-toggle="dropdown"
aria-expanded="false"><span
class="page-size">8</span> <span class="caret"></span></button><ul class="dropdown-menu"
   role="menu"><li
class="active"><a href="javascript:void(0)">8</a></li><li><a href="javascript:void(0)">10</a></li><li><a
href="javascript:void(0)">25</a></li><li><a href="javascript:void(0)">50</a></li><li><a
href="javascript:void(0)">100</a></li></ul></span> rows visible</span></div>*/-->
<!--/*First*/-->
<li th:class="(${page==1}?'disabled ':'') + 'page-item clearfix d-none d-md-block'"><a
class="page-link waves-effect waves-effect" th:href="@{/events/list(page=0, country = ${country}, city = ${city})}">В начало</a></li>
<!--/*Arrow left*/-->
<li th:class="(${page==1}?'disabled ':'') + 'page-item'">
<a class="page-link waves-effect waves-effect" aria-label="Назад"
th:href="@{/events/list(page=${page}-1, country = ${country}, city = ${city})}">
<span aria-hidden="true">«</span>
<span class="sr-only">Назад</span>
</a>
</li>
<!--/*Numbers*/-->
<th:block th:each="i : ${#numbers.sequence( 1, pageCount)}">
<li th:class="${page==i}?'active ':'' + 'page-item'"><a
class="page-link waves-effect waves-effect" th:text="${i}"
th:href="@{/events/list(page=${i}, country = ${country}, city = ${city})}">%PAGE%</a></li>
</th:block>
<!--/*Arrow right*/-->
<li th:class="(${page==pageCount}?'disabled ':'') +'page-item'">
<a class="page-link waves-effect waves-effect" aria-label="Вперёд"
th:href="@{/events/list(page=${page}+1, country = ${country}, city = ${city})}">
<span aria-hidden="true">»</span>
<span class="sr-only">Вперёд</span>
</a>
</li>
<!--/*End-of-First*/-->
<li th:class="(${page==pageCount}?'disabled ':'') + 'page-item clearfix d-none d-md-block'">
<a th:href="@{/events/list(page=${pageCount}, country = ${country}, city = ${city})}"
class="page-link waves-effect waves-effect">В конец</a></li>
</ul>
</nav>
<!--/*End-of-Pagination */-->
</div>
</div>
</div>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>