<!doctype html>
<html class="no-js"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../resources/css/cards.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" type="text/css" href="../../resources/css/styles.css"/>
    <link rel="stylesheet" href="../../resources/css/filter/reset.css"/> <!-- CSS reset -->
    <link rel="stylesheet" href="../../resources/css/filter/style.css"/> <!-- Resource style -->
    <link rel="stylesheet" href="../../resources/css/media.css"/>
    <script src="../../resources/js/filter/modernizr.js"></script> <!-- Modernizr -->

    <title>Excursium</title>
</head>
<body th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}, lang = ${#locale.getLanguage().toString()=='en'?1:0}">
<div th:replace="fragments/header :: style"></div>
<div th:replace="fragments/header :: header"></div>
<!--<header class="cd-header">
    <h1>Content Filters</h1>
</header>-->


<main class="cd-main-content is-fixed">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            <ul class="cd-filters" style="top: 0">
                <li class="placeholder">
                    <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
                </li>
                <li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
                <li class="filter" data-filter=".color-1"><a href="#0" data-type="color-1">Color 1</a></li>
                <li class="filter" data-filter=".color-2"><a href="#0" data-type="color-2">Color 2</a></li>
            </ul> <!-- cd-filters -->
        </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <div class="container pt-0">
        <div class="row">

            <section class="cd-gallery">
                <ul>
                    <li th:each="j : ${#numbers.sequence( 0, events.size()-1)}" th:class="${j%3==0?'color-1':'color-2'}">
                        <!--/*@thymesVar id="events" type="java.util.List<heroku.demo.event.Event>"*/-->
                        <div class="card card-cascade narrower"
                             th:with="event=${events.get(j)}">
                            <!--/*@thymesVar id="event" type="com.heroku.demo.event.Event"*/-->
                            <!--/*Card image*/-->
                            <div class="view overlay hm-white-slight z-depth-1" style="margin-top: 20px;">
                                <div class="img_crop"><img src="../../resources/img/bg-cta.jpg"
                                                           th:src="${event.pathToPhoto}"
                                                           class="img-fluid" alt=""
                                                           style="height: 240px; min-width: -webkit-fill-available;"/>
                                </div>
                                <a th:href="@{/events/event(id = ${event.getId()})}">
                                    <div class="mask waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--/*Card image*/-->
                            <!--/*Card content*/-->
                            <div class="card-body pb-0 no-padding text-center"><!--/*Category & Title*/-->
                                <h5 th:text="${{event.getCategoryString()}}">%CATEGORY%</h5>
                                <h4 class="card-title">
                                    <strong>
                                        <h3><a th:href="@{/events/event(id=${event.getId()})}"
                                               th:text="${event.name}">%NAME%</a></h3></strong>
                                </h4>
                                <!--/*Rating*/-->
                                <ul class="rating">
                                    <li th:if="${event.getRate()!=-1}" th:text="${event.getRate()}"></li>
                                    <th:block th:if="${(event.getIntRate()!=-1)and(event.getIntRate()!=0)}">
                                        <li th:each="i : ${#numbers.sequence(0, event.getIntRate()-1)}"><i
                                                class="fa fa-star"></i></li>
                                    </th:block>
                                    <th:block th:if="${(event.getIntRate()!=-1)and(event.getIntRate()!=5)}">
                                        <li th:each="i : ${#numbers.sequence(event.getIntRate(), 4)}"><i
                                                class="fa fa-star-o"></i></li>
                                    </th:block>
                                    <th:block th:if="${(event.getIntRate()==-1)}">
                                        <li th:each="i : ${#numbers.sequence(0, 4)}"><i class="fa fa-star-o"></i></li>
                                    </th:block>
                                    <li th:text="'('+${event.getReviewsCount()}+')'"></li>
                                </ul>
                                <!--/*Description*/-->
                                <p class="card-text" style="font-size: medium; color: #000000"
                                   th:text="${event.getSmallDescription()}" align="justify">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Animi beatae, earum eveniet ex facilis iure molestiae
                                    nam obcaecati odio perferendis rerum tempora veritatis. Adipisci aliquid corporis,
                                    culpa cumque dolor earum ex ipsa itaque magnam odit placeat quia quidem repellat
                                    voluptatum.</p>
                            </div>
                            <!--/*Card footer*/-->
                            <div class="card-footer links-light">
                                <h4 class="left" style="color:#4285F4; padding: 0.4em 0.1em;"><strong
                                        th:text="${event.getPrice()}+'&#8381;'">%PRICE%</strong></h4>
                                <a th:href="@{/events/event(id=${event.getId()})}"
                                   class="btn btn-primary waves-effect waves-light right"
                                   th:text="${#messages.msg('words.open')}">Открыть
                                </a>
                            </div>
                            <!--/*End-of-Card content*/-->
                            <!--<div class="visible-sm-block visible-xs-block" th:if="${j==i}">
                                <br/>
                            </div>TODO: test-->
                        </div>
                    </li>
                    <li class="gap"></li>
                    <li class="gap"></li>
                    <li class="gap"></li>
                </ul>
                <div class="cd-fail-message">No results found</div>
            </section> <!-- cd-gallery -->

            <div class="cd-filter">
                <form>
                    <div class="cd-filter-block" style="margin-top: 100px;">
                        <h4>Search</h4>

                        <div class="cd-filter-content">
                            <input type="search" placeholder="Try color-1..."/>
                        </div> <!-- cd-filter-content -->
                    </div> <!-- cd-filter-block -->

                    <div class="cd-filter-block">
                        <h4>Check boxes</h4>

                        <ul class="cd-filter-content cd-filters list">
                            <li>
                                <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1"/>
                                <label class="checkbox-label" for="checkbox1">Option 1</label>
                            </li>

                            <li>
                                <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2"/>
                                <label class="checkbox-label" for="checkbox2">Option 2</label>
                            </li>

                            <li>
                                <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3"/>
                                <label class="checkbox-label" for="checkbox3">Option 3</label>
                            </li>
                        </ul> <!-- cd-filter-content -->
                    </div> <!-- cd-filter-block -->

                    <div class="cd-filter-block">
                        <h4>Select</h4>

                        <div class="cd-filter-content">
                            <div class="cd-select cd-filters">
                                <select class="filter" name="selectThis" id="selectThis">
                                    <option value="">Choose an option</option>
                                    <option value=".option1">Option 1</option>
                                    <option value=".option2">Option 2</option>
                                    <option value=".option3">Option 3</option>
                                    <option value=".option4">Option 4</option>
                                </select>
                            </div> <!-- cd-select -->
                        </div> <!-- cd-filter-content -->
                    </div> <!-- cd-filter-block -->

                    <div class="cd-filter-block">
                        <h4>Radio buttons</h4>

                        <ul class="cd-filter-content cd-filters list">
                            <li>
                                <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1"
                                       checked="checked"/>
                                <label class="radio-label" for="radio1">All</label>
                            </li>

                            <li>
                                <input class="filter" data-filter=".radio2" type="radio" name="radioButton"
                                       id="radio2"/>
                                <label class="radio-label" for="radio2">Choice 2</label>
                            </li>

                            <li>
                                <input class="filter" data-filter=".radio3" type="radio" name="radioButton"
                                       id="radio3"/>
                                <label class="radio-label" for="radio3">Choice 3</label>
                            </li>
                        </ul> <!-- cd-filter-content -->
                    </div> <!-- cd-filter-block -->
                </form>

                <a href="#0" class="cd-close">Close</a>
            </div> <!-- cd-filter -->

            <a href="#0" class="cd-filter-trigger">Filters</a>
        </div>
    </div>
</main> <!-- cd-main-content -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../../resources/js/filter/jquery.mixitup.min.js"></script>
<script src="../../resources/js/filter/main.js"></script> <!-- Resource jQuery -->
</body>
</html>