<html>
<head>
    <title>Модерация контента</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<nav class="four">
    <ul>
        <li><a href="#"><i class="fa fa-home fa-fw"></i>Главная</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/guides">Маршруты</a></li>
        <li><a href="/gallery">Фотогалерея</a></li>
        <li><a href="/contacts">Контакты</a></li>
        <!--<li><a href="test.htm">Тест</a></li>-->
    </ul>
</nav>
</body>