<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content=""/>
<meta name="title" content=""/>
<meta name="author" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="keywords" content="excursium"/>
<title th:text="${#messages.msg('titles.account')}">Профиль</title>

<link rel="stylesheet" type="text/css" href="../../resources/css/footer.css"/>
<link rel="stylesheet" href="../../resources/libs/bootstrapformhelpers/css/bootstrap-formhelpers.min.css"/>
<link rel="stylesheet" href="../../resources/libs/bootstrap-select/css/bootstrap-select.css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<link rel="icon" href="../../resources/img/icon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="../../resources/img/icon.ico" type="image/x-icon"/>

<link rel="stylesheet" type="text/css" href="../../resources/css/styles.css"/>
<link rel="stylesheet" href="../../resources/css/cards.css"/>
<link rel="stylesheet" href="../../resources/css/media.css"/>
    <link rel="stylesheet" href="../../resources/css/rating.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../resources/libs/bootstrap-select/js/bootstrap-select.js"></script>

</head>

<body style="background-color: #f9f9f9;">
<!--/*@thymesVar id="person" type="com.heroku.demo.person.Person"*/-->
<!--/*@thymesVar id="consts" type="com.heroku.demo.utils.Consts"*/-->
<!--/*@thymesVar id="orders" type="java.util.List<com.heroku.demo.order.Buy>"*/-->
<!--/*@thymesVar id="events" type="java.util.List"*/-->
<div class="content"
th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}, isThisUserAccount = ${true},
excursovod = ${person.getType()==consts.PERSON_GUIDE or person.getType()==consts.PERSON_MODER_GUIDE or person.getType()==consts.PERSON_ADMIN},
tourist = ${person.getType()==consts.PERSON_TOURIST or person.getType()==consts.PERSON_MODER_TOURIST or person.getType()==consts.PERSON_ADMIN},
notConfirmed = ${person.getType()==consts.PERSON_DISABLED or person.getType()==consts.PERSON_ADMIN}">
<!--/*TODO isThisUserAccount*/-->
<div th:replace="fragments/header :: style"></div>
<div th:replace="fragments/header :: header"></div>
<style>.pe:before{width: 300px !important; margin-left: -150px !important;}.nepe:before{width: 620px !important; margin-left: -310px !important;}</style>

<div class="container">

<!--/*Main layout*/-->
<main>
<div class="container-fluid">
<!--/*Section: Profile*/-->
<section>
<!--/*Grid row*/-->
<div class="row">

<!--/*Grid column*/-->
<div class="col-lg-4 col-md-12">
<!--/*Section: Basic Info*/-->
<section class="card card-cascade card-avatar mb-4">

<img th:src="${person.getImageUrl()}" src="../../resources/img/user.png" alt=""
     onerror='this.style.marginTop = 0'/>
<!--/*Card content*/-->
<div class="card-body">
<!--/*Title*/-->
<h4 class="card-title"><strong th:text="${person.getFullName()}">Имя</strong></h4>
<h5 th:text="${person.getStringType(0)}">Турист/Экскурсовод</h5>
<p th:text="${person.getCity()}">Москва, Россия</p>
<!--/* Social */-->
<a type="button"
class="btn-floating btn-small light-blue lighten-2 waves-effect waves-light"><i
class="fa fa-facebook"></i></a>
<a type="button"
class="btn-floating btn-small light-blue lighten-2 waves-effect waves-light"><i
class="fa fa-twitter"></i></a>
<a type="button"
class="btn-floating btn-small light-blue lighten-2 waves-effect waves-light"><i
class="fa fa-linkedin"></i></a>
<!--/*Text*/-->
<p class="card-text mt-3">тел.
<th:block th:text="${person.getPhoneNumber()}"/>
</p>
<button th:unless="${isThisUserAccount}" type="button"
class="btn btn-info waves-effect waves-light"
data-toggle="modal" data-target="#modalContactUser">Связаться<i
class="fa fa-paper-plane ml-2"></i></button>
<a th:if="${notConfirmed}" type="button" th:href="'/users/resend_email'"
class="btn btn-primary mt-4 waves-effect waves-light">
<!--/*TODO translate*/-->
<th:block>Подтвердить E-mail</th:block><!--/*TODO translate*/-->
</a>
<a th:if="${tourist}"
class="btn btn-primary waves-effect waves-light"
data-toggle="modal" data-target="#modalUpToGuide">Стать экскурсоводом
</a>
<!--/*TODO translate*/-->
<a th:if="${isThisUserAccount}" class="btn btn-primary waves-effect waves-light"
href="#" role="button"
data-toggle="modal" data-target="#modalEditProfile">Редактировать профиль <i
class="fa fa-pencil ml-2"></i></a>
<a class="btn btn-outline-primary waves-effect waves-light" href="#" role="button"
data-toggle="modal" data-target="#modalFeedback">Сообщить об ошибке <i
class="fa fa-paper-plane ml-2"></i></a>
</div>
</section>
<!--/*End-of-Section: Basic Info*/-->
<!--/*Section: Experience*/-->
<!--/*<section class="card mb-4">
<div class="card-body">

<h5 class=" text-center"><strong>Уведомления</strong></h5>

<hr class="my-3"/>

<ul class="list-unstyled pt-4">
<li>
<p>Questions <span class="badge badge-primary pull-right">14</span></p>
</li>
<hr/>
<li>
<p>Answers <span class="badge badge-primary pull-right">14</span></p>
</li>
<hr/>
<li>
<p>Submited projects <span class="badge badge-primary pull-right">14</span>
</p>
</li>
<hr/>
<li>
<p>Pull requests <span class="badge badge-primary pull-right">14</span></p>
</li>
<hr/>
<li>
<p>Ideas &amp; bug reports <span
class="badge badge-primary pull-right">14</span></p>
</li>
</ul>

</div>
</section>*/-->
<!--/*End-of-Section: Experience*/-->
</div>
<!--/*End-of-Grid column*/-->
<!--/*Grid column*/-->
<div class="col-lg-8 col-md-12 text-center">
<!--/* Heading */-->
<div class="text-center mt-3 mb-5">
<h2 class="title text-center pe" th:if="${orders.size()>0}">Посещенные экскурсии</h2>
<h2 class="title text-center nepe" th:if="${orders.size()==0}">Здесь будут отображаться
посещенные экскурсии</h2> <!--/*-310,615 TODO: translate*/-->
<a href="/events/list">
<button th:if="${isThisUserAccount}" type="button"
class="btn btn-primary mt-4 waves-effect waves-light">
<th:block th:text="${#messages.msg('account.select_event')+' '}">Выбрать
экскурсию
</th:block>
<i class="fa fa-photo ml-1"></i>
</button>
</a>
</div>
<!--/*Heading*/-->
<!--/*Card row*/-->
<th:block th:if="${orders.size()!=0}">
<div class="card-deck" th:each="i : ${#numbers.sequence( 0, orders.size()-1)}">
<th:block th:if="${i%2==0}" th:with="inc = ${i!=orders.size()-1?1:0}">
<!--/*Card*/-->
<div class="card card-cascade narrower mb-5"
th:each="j : ${#numbers.sequence(i,i+inc)}"
th:with="order=${orders.get(j)}">
<!--/*@thymesVar id="order" type="com.heroku.demo.order.Buy"*/-->
<!--/*Card image*/-->
<div class="view overlay hm-white-slight">
<img th:src="${order.getImageUrl()}" src="#" class="img-fluid" alt=""/>
<a href="#">
<div class="mask waves-effect waves-light"></div>
</a>
</div>
<!--/*Card content*/-->
<div class="card-body pb-0">
<!--/*Title*/-->
<h4 class="card-title" th:text="${order.getName()}">Название
экскурсии</h4>
<!--/*Text*/-->
<span class="card-text" style="font-size: small;" align="left"
th:text="${order.getTime()}">Время заказа</span>
<span class="card-text" style="font-size: small;" align="right"
th:text="${order.getTime()}">Время экскурсии</span>
</div>
<!--/*Card footer*/-->
<div class="card-footer links-light">
<span class="left pt-2">
<strong th:text="${order.getPrice()}+'&#8381;  '"
style="color:#4285F4; font-size: medium; padding-top: -0.2em;">%Цена%  </strong>
</span>
<span class="right">
<a th:href="@{/orders/order(id=${order.getId()})}"
class="waves-effect p-2">Открыть<i
class="fa fa-photo ml-1"></i></a>
</span>
    <div class="clearfix"></div>
    <span class="left pt-2">
    <a href="#" data-toggle="modal" data-target="#modalAddReview"><i class="fa fa-comments mr-2"></i>Оставить отзыв</a><!--role="button" -->
    </span>
</div>
</div>
<!--/*End-of-Card*/-->
</th:block>
</div>
</th:block>
<!--/*End-of-Card row*/-->
<!--/*Pagination */-->
<nav class="my-4 d-flex justify-content-center" th:if="${orders.size()>2}">
<ul class="pagination pagination-circle pg-blue mb-0">
<!--/*First*/-->
<li class="page-item disabled clearfix d-none d-md-block"><a
class="page-link waves-effect waves-effect">В начало</a></li>
<!--/*Arrow left*/-->
<li class="page-item disabled">
<a class="page-link waves-effect waves-effect" aria-label="Назад">
<span aria-hidden="true">«</span>
<span class="sr-only">Назад</span>
</a>
</li>
<!--/*Numbers*/-->
<li class="page-item active"><a class="page-link waves-effect waves-effect">1</a>
</li>
<li class="page-item"><a class="page-link waves-effect waves-effect">2</a></li>
<li class="page-item"><a class="page-link waves-effect waves-effect">3</a></li>
<li class="page-item"><a class="page-link waves-effect waves-effect">4</a></li>
<li class="page-item"><a class="page-link waves-effect waves-effect">5</a></li>
<!--/*End-of-Arrow right*/-->
<li class="page-item">
<a class="page-link waves-effect waves-effect" aria-label="Вперёд">
<span aria-hidden="true">»</span>
<span class="sr-only">Вперёд</span>
</a>
</li>
<!--/*End-of-First*/-->
<li class="page-item clearfix d-none d-md-block"><a
class="page-link waves-effect waves-effect">В конец</a></li>
</ul>
</nav>
<!--/*End-of-Pagination */-->
<!--/* Heading */-->
<div class="text-center mt-3 mb-5" th:if="${excursovod}">
<h2 class="title text-center pe" th:if="${events.size()>0}">Добавленные экскурсии</h2>
<h2 class="title text-center nepe" th:if="${events.size()==0 and excursovod}">Здесь будут
отображаться добавленные экскурсии</h2> <!--/*-310,615 TODO: translate*/-->
<button th:if="${isThisUserAccount and excursovod}" type="button"
class="btn btn-primary mt-4 waves-effect waves-light"
data-toggle="modal" data-target="#modalSubmitProject">
<th:block th:text="${#messages.msg('titles.add_event')+' '}">Добавить новую
экскурсию
</th:block>
<i class="fa fa-photo ml-1"></i>
</button>
</div>
<!--/* End-of-Heading */-->
<!--/* Card row */-->
<th:block th:if="${events.size()!=0 and excursovod}">
<div class="card-deck" th:each="i : ${#numbers.sequence( 0, events.size()-1)}">

<th:block th:if="${i%2==0}" th:with="inc=${i!=events.size()-1?1:0}">
<!--/*Card*/-->
<div class="card card-cascade narrower mb-5"
th:each="j : ${#numbers.sequence(i,i+inc)}"
th:with="event = ${events.get(j)}"
th:id="'id'+${j}"
th:style="${j != 0 and j != 1}?'display: none;'">
<!--/*@thymesVar id="event" type="com.heroku.demo.event.Event"*/-->
<!--/*Card image*/-->
<div class="view overlay hm-white-slight">
<img th:src="${event.pathToPhoto}" src="#" class="img-fluid"
style="height: 240px; min-width: -webkit-fill-available;" alt=""/>
<a href="#" th:href="@{/events/event(id=${event.getId()})}">
<div class="mask waves-effect waves-light"></div>
</a>
</div>
<!--/*Card content*/-->
<div class="card-body pb-0">
<!--/*Title*/-->
<h4 class="card-title" th:text="${event.getName()}"><a
th:href="@{/events/event(id=${event.getId()})}">Название
экскурсии</a></h4>
<strong th:style="'color:' + ${event.getType()}==1?'#337ABB;':'#f80000;' + 'font-size: x-large; padding-top: -0.2em;'"
th:text="${event.getStringType(0)}">На модерации</strong>
<!--/*TODO translate*/-->
</div>
<!--/*Card footer*/-->
<div class="card-footer links-light">
<span class="left pt-2">
<strong th:text="${event.getPrice()}+'&#8381;  '"
style="color:#4285F4; font-size: medium; padding-top: -0.2em; padding-bottom: 2rem;">%Цена%  </strong>
<a><i class="fa fa-heart-o mr-2"></i>10</a>
</span>
<span class="right">
<a th:href="@{/events/event(id=${event.getId()})}"
class="waves-effect p-2">Открыть<i
class="fa fa-photo ml-1"></i></a>
</span>
</div>
</div>
<!--/*End-of-Card*/-->
</th:block>
</div>
</th:block>
<!--/* End-of-Card row */-->
<!--/*Pagination */-->
<nav class="my-4 d-flex justify-content-center" th:if="${events.size()>2 and excursovod}">
<ul class="pagination pagination-circle pg-blue mb-0">
<!--/*First*/-->
<li class="page-item disabled clearfix d-none d-md-block"
id="to-home-exc">
<a class="page-link waves-effect waves-effect"
th:onclick="'showHide(1);'">В начало</a>
</li>
<!--/*Arrow left*/-->
<li class="page-item disabled"
id="down-exc">
<a class="page-link waves-effect waves-effect" aria-label="Назад">
<span aria-hidden="true">«</span>
<span class="sr-only">Назад</span>
</a>
</li>
<!--/*Numbers*/-->
<li th:each="i : ${#numbers.sequence(1, events.size()/2)}"
th:class="'page-item' + (${i==1}?' active':'')"
th:id="'page_events'+${i}">
<a class="page-link waves-effect waves-effect" th:text="${i}"
th:onclick="'showHide('+${i}+');'">1
</a>
</li>
<!--/*Arrow right*/-->
<li class="page-item"
id="up-exc">
<a class="page-link waves-effect waves-effect" aria-label="Вперёд">
<span aria-hidden="true">»</span>
<span class="sr-only">Вперёд</span>
</a>
</li>
<!--/*End-of-First*/-->
<li class="page-item clearfix d-none d-md-block"
id="to-end-exc"
th:onclick="'showHide('+${events.size()/2}+');'">
<a class="page-link waves-effect waves-effect">В конец</a>
</li>
</ul>
</nav>
<!--/*End-of-Pagination */-->
</div>
<!--/*End-of-Grid column*/-->
</div>
<!--/*End-of-Grid row*/-->
</section>
<!--/*End-of-Section: Profile*/-->
<!--/*Section: Modals*/-->
<section>
<!--/*Modal: modalEditProfile*/-->
<div class="modal fade" id="modalEditProfile" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<div class="modal-dialog cascading-modal modal-lg" role="document">
<!--/*Content*/-->
<div class="modal-content">
<!--/*Modal cascading tabs*/-->
<div class="modal-c-tabs">
<!--/* Nav tabs */-->
<ul class="nav nav-tabs tabs-2 light-blue darken-3" role="tablist">
<li class="nav-item waves-effect waves-light">
<a class="nav-link active" data-toggle="tab"
th:text="${#messages.msg('words.public_info')}"
href="https://mdbootstrap.com/previews/templates/admin-dashboard/html/profile/extended.html#panel77"
role="tab" aria-expanded="true"><i class="fa fa-user mr-1"></i> Public
info</a>
</li>
<li class="nav-item waves-effect waves-light">
<a class="nav-link" data-toggle="tab"
href="https://mdbootstrap.com/previews/templates/admin-dashboard/html/profile/extended.html#panel88"
th:text="${#messages.msg('words.private_info')}"
role="tab" aria-expanded="false"><i class="fa fa-lock mr-1"></i> Account</a>
</li>
</ul>
<!--/* Tab panels */-->
<div class="tab-content">
<!--/*Panel 7*/-->
<div class="tab-pane fade in active" id="panel77" role="tabpanel"
aria-expanded="true">
<!--/*Body*/-->
<div class="modal-body mb-1">
<form th:object="${person}" action="/users/edit_public"
enctype="multipart/form-data" method="post">
<!--/*Grid row*/-->
<div class="row">
<!--/*Grid column*/-->
<div class="col-md-6">
<!--/*First Name*/-->
<div class="md-form form-sm">
<input type="text" id="editProfile1"
class="form-control" name="first_name"
th:value="${person.getFirstName()}"/>
<label for="editProfile1" class=""
th:text="${#messages.msg('words.first_name')}">First
name</label>
</div>
</div>
<!--/*End-of-Grid column*/-->
<!--/*Grid column*/-->
<div class="col-md-6">
<!--/*Last Name*/-->
<div class="md-form form-sm">
<input type="text" id="editProfile2"
class="form-control" name="last_name"
th:value="${person.getLastName()}"/>
<label for="editProfile2" class=""
th:text="${#messages.msg('words.last_name')}">Last
name</label>
</div>
</div>
<!--/*End-of-Grid column*/-->
<!--/*Grid column*/-->
<div class="col-md-12">
<!--/*Company website*/-->
<div class="md-form form-sm">
<textarea type="text" id="editProfile5" name="about_me"
class="md-textarea"
th:text="${person.getAbout()}"></textarea>
<label for="editProfile5" class=""
th:text="${#messages.msg('words.about_me')}">About
me</label>
</div>
</div>
<!--/*End-of-Grid column*/-->
<!--/*Grid column*/-->
<div class="col-md-12">
<div class="md-form form-sm">
<input name="file" type="file" id="filePerson"
class="form-control"
size="30000000"
style="padding-left: 9rem; padding-top: 5px; font-size: 1rem;"
accept="image/jpeg,image/png"
aria-label="Фотографии"/>
<label for="filePerson" class="" style="top: 0.5rem;"
th:text="${#messages.msg('words.new_photo')}">Новая
фотография</label>
</div>
</div>
<!--/*End-of-Grid column*/-->
<div class="col-md-12">
<!--/*City*/-->
<div class="md-form form-sm">
<input type="text" id="editProfile6" name="city"
class="form-control"
th:value="${person.getCity()}"/>
<label for="editProfile6" class=""
th:text="${#messages.msg('words.city')}">City</label>
</div>
</div>
<!--/*Grid column*/-->
<div class="col-md-6">
<!--/*Facebook*/-->
<div class="md-form form-sm mt-2">
<input type="text" id="editProfile8"
class="form-control"/>
<label for="editProfile8" class="">VK</label>
</div>
</div>
<!--/*End-of-Grid column*/-->
<!--/*Grid column*/-->
<div class="col-md-6">
<!--/*LinkedIn*/-->
<div class="md-form form-sm mt-2">
<input type="text" id="editProfile10"
class="form-control"/>
<label for="editProfile10" class="">Telegram</label>
</div>
</div>
<!--/*End-of-Grid column*/-->
</div>
<div class="modal-footer justify-content-center">
<button type="reset"
class="btn btn-outline-primary waves-effect waves-light"
data-dismiss="modal">Закрыть
</button>
<button type="submit"
class="btn btn-primary waves-effect waves-light">
Сохранить <i class="fa fa-check ml-1"></i></button>
</div>
<!--/*End-of-Grid row*/-->
</form>
</div>
</div>
<!--/*End-of-Panel 7*/-->
<!--/*Panel 8*/-->
<div class="tab-pane fade" id="panel88" role="tabpanel" aria-expanded="false">
<!--/*Body*/-->
<div class="modal-body">
<form th:object="${person}" action="/users/edit_private" method="post"
autocomplete="off">
    <div class="col-md-12">
<div class="md-form form-sm">
<input type="email" id="form24" name="email"
class="form-control" th:value="${person.getEmail()}"/>
<label for="form24">Email</label>
</div>
    </div>
    <div class="col-md-12">
        <h4 style="font-weight: bold">Смена пароля</h4>
    </div>
<div class="clearfix"></div>
    <br/>
    <div class="col-md-12">
<div class="md-form form-sm">
<input type="password" name="last_pass" id="form25"
class="form-control"/>
<label for="form25">Текущий пароль</label>
</div>
    </div>
    <div class="col-xs-6">
<div class="md-form form-sm">
<input type="password" name="pass" id="form26"
class="form-control"/>
<label for="form26">Новый пароль</label>
</div>
    </div>
        <div class="col-xs-6">
<div class="md-form form-sm">
<input type="password" name="pass_confirm" id="form27"
class="form-control"/>
<label for="form27">Подтвердите пароль</label>
</div>
        </div>
<div class="modal-footer justify-content-center">
<button type="reset"
class="btn btn-outline-primary waves-effect waves-light"
data-dismiss="modal">Закрыть
</button>
<button type="submit"
class="btn btn-primary waves-effect waves-light">
Сохранить <i class="fa fa-check ml-1"></i>
</button>
</div>
</form>
</div>
</div>
<!--/*End-of-Panel 8*/-->
</div>
</div>
</div>
<!--/*End-of-Content*/-->
</div>
</div>
<!--/*End-of-Modal: modalEditProfile*/-->
<!--/*Modal: modalFeedback*/-->
<div class="modal fade" id="modalFeedback" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<div class="modal-dialog cascading-modal modal-lg" role="document">
<!--/*Content*/-->
<div class="modal-content">
<!--/*Header*/-->
<div class="modal-header light-blue darken-3 white-text">
<h4 class=""><i class="fa fa-newspaper-o"></i> Новое сообщение</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
aria-hidden="true">×</span></button>
</div>
<!--/*Body*/-->
<div class="modal-body mb-0">
<!--/*Subject*/-->
<div class="md-form form-sm">
<input type="text" id="modalFeedback1" class="form-control"/>
<label for="modalFeedback1" class="">Subject</label>
</div>
<!--/*Topic*/-->
<select class="mdb-select colorful-select dropdown-primary">
<option value="" disabled="" selected="">Choose category</option>
<option value="1">Idea</option>
<option value="2">Feedback</option>
<option value="3">Bug</option>
</select>
<!--/*Message*/-->
<div class="md-form">
<textarea type="text" id="modalFeedback2" class="md-textarea"
style="height: 300px;"></textarea>
<label for="modalFeedback2">Your message</label>
</div>
</div>
<!--/*Footer*/-->
<div class="modal-footer justify-content-center">
<button type="button" class="btn btn-outline-primary waves-effect waves-light"
data-dismiss="modal">Закрыть
</button>
<button type="button" class="btn btn-primary waves-effect waves-light">Send <i
class="fa fa-paper-plane ml-1"></i></button>
</div>
</div>
<!--/*End-of-Content*/-->
</div>
</div>
<!--/*End-of-Modal: modalFeedback*/-->
<!--/*Modal: modalAchievment*/-->
<div class="modal fade" id="modalAchievment" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog cascading-modal" role="document">
<!--/*Content*/-->
<div class="modal-content">
<!--/*Header*/-->
<div class="modal-header light-blue darken-3 white-text">
<h4 class=""><i class="fa fa-newspaper-o"></i> Bootstrap Master</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
aria-hidden="true">×</span></button>
</div>
<!--/*Body*/-->
<div class="modal-body mb-0">
<p>текст</p>
</div>
<!--/*Footer*/-->
<div class="modal-footer justify-content-center">
<button type="button" class="btn btn-outline-primary waves-effect waves-light"
data-dismiss="modal">Закрыть
</button>
<button type="button" class="btn btn-primary waves-effect waves-light">Go to <i
class="fa fa-arrow-right ml-1"></i></button>
</div>
</div>
<!--/*End-of-Content*/-->
</div>
</div>
<!--/*End-of-Modal: modalAchievment*/-->
<!--/*Modal: modalContactUser */-->
<div class="modal fade" id="modalContactUser" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog cascading-modal modal-lg" role="document">
<!--/*Content*/-->
<div class="modal-content">
<!--/*Header*/-->
<div class="modal-header light-blue darken-3 white-text">
<h4 class=""><i class="fa fa-envelope-o"></i> Новое сообщение</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
aria-hidden="true">×</span></button>
</div>
<!--/*Body*/-->
<div class="modal-body mb-0">
<!--/*Basic textarea*/-->
<div class="md-form">
<textarea type="text" id="modalContactUser1" class="md-textarea"
style="height: 400px;"></textarea>
<label for="modalContactUser1">Your message</label>
</div>
</div>
<!--/*Footer*/-->
<div class="modal-footer justify-content-center">
<button type="button" class="btn btn-outline-primary waves-effect waves-light"
data-dismiss="modal">Отмена
</button>
<button type="button" class="btn btn-primary waves-effect waves-light">Отправить <i
class="fa fa-paper-plane ml-1"></i></button>
</div>
</div>
<!--/*End-of-Content*/-->
</div>
</div>
<!--/*End-of-Modal: modalContactUser*/-->
<!--/*Modal: modalSubmitProject*/-->
<div class="modal fade" id="modalSubmitProject" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog cascading-modal" role="document">
<!--/*Content*/-->
<div class="modal-content">
<!--/*Header*/-->
<div class="modal-header light-blue darken-3 white-text">
<h4 class=""><i class="fa fa-newspaper-o"></i> Добавить новую экскурсию</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
aria-hidden="true">×</span></button>
</div>
<!--/*Body*/-->
<div class="modal-body mb-0">
<!--/*@thymesVar id="inputEvent" type="com.heroku.demo.event.Event"*/-->
<form th:object="${inputEvent}" action="/events/add" enctype="multipart/form-data"
autocomplete="off" method="post">
<!--/*Name*/-->
<div class="md-form form-sm">
<input name="name" type="text" class="form-control" id="name"
th:value="${inputEvent.getName()}" required="" minlength="10"
maxlength="60"/>
<label for="name" th:if="${#fields.hasErrors('name')}"
th:text="${#messages.msg('error.event.name')}" th:class="'error'">Name
Error</label>
<label for="name" class=""
th:text="${#messages.msg('words.name')}">Название</label>
</div>
<!--/*Project URL address*/-->
<div class="md-form">
<textarea name="description" minlength="150" maxlength="1000" type="text"
id="description"
class="md-textarea" required=""
th:text="${inputEvent.getDescription()}"></textarea>
<label for="description" th:if="${#fields.hasErrors('description')}"
th:text="${#messages.msg('error.event.description')}"
th:class="'error'">Description Error</label>
<label for="description" class=""
th:text="${#messages.msg('words.description')}">Описание</label>
</div>
<!--/*Image URL*/-->
<div class="panel panel-default">
<div class="panel-heading"
th:text="${#messages.msg('words.type_of_excursion')}">Тип экскурсии
</div>
<div class="panel-body">
<select name="category" id="category"
class="selectpicker"
style="height: auto; margin-bottom: 2rem;">
<option value="0" th:text="${#messages.msg('category.0')}"
th:selected="${inputEvent.getCategory()==0}">Развлечения
</option>
<option value="1" th:selected="${inputEvent.getCategory()==1}"
th:text="${#messages.msg('category.1')}">Наука
</option>
<option value="2" th:selected="${inputEvent.getCategory()==2}"
th:text="${#messages.msg('category.2')}">История
</option>
<option value="3" th:selected="${inputEvent.getCategory()==3}"
th:text="${#messages.msg('category.3')}">Искусство
</option>
<option value="4" th:selected="${inputEvent.getCategory()==4}"
th:text="${#messages.msg('category.4')}">Производство
</option>
<option value="5" th:selected="${inputEvent.getCategory()==5}"
th:text="${#messages.msg('category.5')}">Гастрономия
</option>
<option value="6" th:selected="${inputEvent.getCategory()==6}"
th:text="${#messages.msg('category.6')}">Квесты
</option>
<option value="7" th:selected="${inputEvent.getCategory()==7}"
th:text="${#messages.msg('category.7')}">Экстрим
</option>
</select>
</div>
</div>
<div class="md-form form-sm">
<input name="usersCount" id="users_count" type="number" class="form-control"
required="" min="1" max="100"
th:value="${inputEvent.getUsersCount()}?${inputEvent.getUsersCount()}"/>
<label for="users_count" th:if="${#fields.hasErrors('usersCount')}"
th:text="${#messages.msg('error.event.users_count')}"
th:class="'error'">UsersCount
Error</label>
<label for="users_count" class=""
th:text="${#messages.msg('words.users_count')}">Количество
участников</label>
</div>
<div class="md-form form-sm">
<input name="duration" id="duration" type="number" class="form-control"
required=""
th:value="${inputEvent.getDuration()}?${inputEvent.getDuration()}"
min="1" max="240"/>
<label for="duration" th:if="${#fields.hasErrors('duration')}"
th:text="${#messages.msg('error.event.duration')}"
th:class="'error'">Duration Error</label>
<label for="duration" class=""
th:text="${#messages.msg('words.duration')+' ('+#messages.msg('words.hours')+')'}">Длительность
(часов)</label>
</div>
<div class="md-form form-sm">
<input name="place" id="place" type="text" class="form-control"
required="" minlength="5" maxlength="100"
th:value="${inputEvent.getPlace()}?${inputEvent.getPlace()}"/>
<label for="place" th:if="${#fields.hasErrors('place')}"
th:text="${#messages.msg('error.event.place')}" th:class="'error'">Place
Error</label>
<label for="place" class="" th:text="${#messages.msg('words.place')}">Место
встречи</label>
</div>
<div class="md-form form-sm">
<input name="price" id="price" type="number" class="form-control"
required="" min="100" max="100000"
th:value="${inputEvent.getPrice()}?${inputEvent.getPrice()}"/>
<label for="price" th:if="${#fields.hasErrors('price')}"
th:text="${#messages.msg('error.event.price')}" th:class="'error'">Price
Error</label>
<label for="price" class=""
th:text="${#messages.msg('words.price') + '(&#8381;)'}">Цена</label>
</div>
<div class="md-form form-sm">
<input name="file" type="file" id="file" class="form-control" required=""
size="30000000"
style="padding-left: 6rem;font-size: 1rem;padding-top: 5px;"
accept="image/jpeg,image/png" aria-label="Фотографии"/>
<!--/*<label for="file" th:if="${error_data}" th:text="${#messages.msg('error.event.file')}" th:class="'error'">File Error</label>TODO:error_data(file)
*/-->
<label style="top: 0.45rem;" for="file" class=""
th:text="${#messages.msg('words.photos')}">Фотографии</label>
</div>
<div class="panel panel-default">
<div class="panel-heading" th:text="${#messages.msg('words.language')}">
Язык экскурсии
</div>
<div class="panel-body">
<select name="language" class="selectpicker"
style="height: auto; margin-bottom: 2rem;"
th:selected="${inputEvent.getLanguage()}?${inputEvent.getLanguage()}">
<option value="0" th:text="${#messages.msg('language.0')}">Русский
</option>
<option value="1" th:text="${#messages.msg('language.1')}">
Английский
</option>
</select>
</div>
</div>
<!--/*Footer*/-->
<div class="modal-footer justify-content-center">
<button type="button"
class="btn btn-outline-primary waves-effect waves-light"
data-dismiss="modal">Закрыть
</button>
<button type="submit" class="btn btn-primary waves-effect waves-light">
Сохранить <i class="fa fa-check ml-1"></i></button>
</div>
</form>
</div>
</div>
<!--/*End-of-Content*/-->
</div>
</div>
<!--/*End-of-Modal: modalSubmitProject*/-->
<!--/*Modal: modalUpToGuide*/-->
<div class="modal fade" id="modalUpToGuide" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<div class="modal-dialog cascading-modal modal-lg" role="document">
<!--/*Content*/-->
<div class="modal-content">
<!--/*Header*/-->
<div class="modal-header light-blue darken-3 white-text">
<h4 class=""><i class="fa fa-newspaper-o"></i> Дополнительные поля</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
aria-hidden="true">×</span></button>
</div>
<form action="/users/up_to_guide" enctype="multipart/form-data" method="post">
<!--/*Body*/-->
<div class="modal-body mb-0">
<!--/*Grid row*/-->
<div class="row">
<!--/*Grid column*/-->
<div class="col-md-6">
<!--/*First Name*/-->
<div class="md-form form-sm">
<input type="text" id="upToGuide1"
class="form-control" name="series_and_number"/>
<label for="editProfile1" class="">Серия и номер паспорта</label>
</div>
</div>
<!--/*End-of-Grid column*/-->
<!--/*Grid column*/-->
<div class="col-md-6">
<!--/*Last Name*/-->
<div class="md-form form-sm">
<input type="text" id="upToGuide2"
class="form-control" name="date_and_place"/>
<label for="editProfile2" class="">Кем и когда выдан паспорт</label>
</div>
</div>
<!--/*End-of-Grid column*/-->
<!--/*Grid column*/-->
<div class="col-md-12">
<div class="md-form form-sm">
<input name="file" type="file" id="upToGuide3"
class="form-control"
size="30000000"
style="padding-left: 10rem; padding-top: 5px; font-size: 1rem;"
accept="image/jpeg,image/png"
aria-label="Фотография паспорта"/>
<label for="upToGuide3" class="" style="top: 0.5rem;">Фотография
паспорта</label>
</div>
</div>
<!--/*End-of-Grid column*/-->
<!--/*Grid column*/-->
<div class="col-md-12" th:if="${person.getAbout()==''}">
<!--/*Company website*/-->
<div class="md-form form-sm">
<textarea type="text" id="upToGuide4" name="about_me"
class="md-textarea"
th:text="${person.getAbout()}"></textarea>
<label for="upToGuide4"
th:text="${#messages.msg('words.about_me')}">О себе</label>
</div>
</div>
<!--/*End-of-Grid column*/-->
</div>
<!--/*End-of-Grid row*/-->
</div>
<!--/*Footer*/-->
<div class="modal-footer justify-content-center">
<button type="reset" class="btn btn-outline-primary waves-effect waves-light"
data-dismiss="modal">Отменить
</button>
<button type="submit" class="btn btn-primary waves-effect waves-light">Отправить
<i class="fa fa-check ml-1"></i></button>
</div>
</form>
</div>
<!--/*End-of-Content*/-->
</div>
</div>
<!--/*End-of-Modal: modalUpToGuide*/-->

    <div th:replace="fragments/modals :: review"></div>

</section>
<!--/*End-of-Section: Modals*/-->
</div>
</main>
<!--/*End-of-Main layout*/-->
<div class="hiddendiv common"></div>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="../../resources/js/compiled.min.js"></script>
<script type="text/javascript" src="../../resources/libs/popper/popper.js"></script>
<!--/*Custom scripts*/-->
<script th:inline="javascript">
/*<![CDATA[*/
function showHide(page) {
//Если элемент с id-шником element_id существует
var id = page * 2 - 2;
var idUp = id + 1;
var i;
var eventsSize = [[${events.size()}]];
for (i = 0; i < eventsSize; i++) {
var j = i + 1;
document.getElementById('id' + i).style.display = "none";
if (i < eventsSize / 2 - 1 && document.getElementById('page_events' + j))
document.getElementById('page_events' + j).className = "page-item";
if (j === page && document.getElementById('page_events' + j))
document.getElementById('page_events' + j).className = "page-item active";
}

if (document.getElementById('id' + id))
document.getElementById('id' + id).style.display = "";
if (document.getElementById('id' + idUp))
document.getElementById('id' + idUp).style.display = "";

switch (page) {
case 1:
document.getElementById('to-home-exc').className = "page-item disabled clearfix d-none d-md-block";
document.getElementById('to-end-exc').className = "page-item clearfix d-none d-md-block";
document.getElementById('down-exc').className = "page-item disabled";
document.getElementById('up-exc').className = "page-item";
break;
case Math.floor(eventsSize / 2):
document.getElementById('to-home-exc').className = "page-item clearfix d-none d-md-block";
document.getElementById('to-end-exc').className = "page-item disabled clearfix d-none d-md-block";
document.getElementById('down-exc').className = "page-item";
document.getElementById('up-exc').className = "page-item disabled";
break;
default:
document.getElementById('to-home-exc').className = "page-item clearfix d-none d-md-block";
document.getElementById('to-end-exc').className = "page-item clearfix d-none d-md-block";
document.getElementById('down-exc').className = "page-item";
document.getElementById('up-exc').className = "page-item";
}
}

/*]]>*/
</script>
<script>
// SideNav Initialization
$(".button-collapse").sideNav();
var container = document.getElementById('slide-out');
Ps.initialize(container, {
wheelSpeed: 2,
wheelPropagation: true,
minScrollbarLength: 20
});
</script>
<div class="drag-target"
style="left: 0; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
</body>
</html>