<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../../resources/libs/bootstrapformhelpers/css/bootstrap-formhelpers.min.css"/>
    <link rel="stylesheet" href="../../resources/libs/bootstrap-select/css/bootstrap-select.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/styles.css"/>
    <link rel="stylesheet" href="../../resources/css/media.css"/>
</head>
<body th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
<!--/*@thymesVar id="country" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="city" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="person" type="com.heroku.demo.person.Person"*/-->
<!--/*@thymesVar id="utils" type="com.heroku.demo.utils.UtilsForWeb"*/-->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation" th:with="isTourist = ${utils.isTourist(person)}, isGuide = ${utils.isGuide(person)}" th:fragment="header">
<div class="container" style="padding-top: 0!important;">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle Navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" id="navbar-brand" href="/events/list">
<img id="brand-image" class="brand-image" alt="Website Logo" src="../../resources/img/logo0.png"/>
    <h2 class="brand-title" id="brand-title">Excursium</h2>
</a>
</div>
<!--/* Collect the nav links, forms, and other content for toggling */-->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--/* Содержимое основной части */-->
<ul class="nav navbar-nav navbar-right">
<li>
<a th:href="@{/events/list(country=${country}, city = ${city})}" th:text="${#messages.msg('titles.excursions')}">Экскурсии</a></li>
<!--<li><a href="#">FAQ</a></li>-->

<li th:if="${isAdmin}">
    <a class="waves-effect waves-light" type="button" data-toggle="dropdown" aria-expanded="false" href="">Модерация <b class="caret"></b>
    </a><ul class="dropdown-menu">
        <li><a href="/events/moderation" class="waves-effect waves-light" th:text="${#messages.msg('titles.events')}">Модерация экскурсий</a></li>
        <li><a href="/users/moderation" class="waves-effect waves-light" th:text="${#messages.msg('titles.persons')}">Модерация пользователей</a></li>
    </ul>
</li>
    <li th:if="${isGuide}">
        <a class="waves-effect waves-light" type="button" data-toggle="dropdown" aria-expanded="false" href="">Гиду <b class="caret"></b>
        </a><ul class="dropdown-menu">
        <li><a href="/events/add" class="waves-effect waves-light">Добавить экскурсию</a></li>
        <li><a href="/events/my" class="waves-effect waves-light">Мои экскурсии</a></li>
        <li><a href="/orders/list_guide" class="waves-effect waves-light">Новые заказы</a></li>
    </ul>
    </li>
    <li th:if="${isTourist}">
        <a class="waves-effect waves-light" type="button" data-toggle="dropdown" aria-expanded="false" href="">Туристу <b class="caret"></b>
        </a><ul class="dropdown-menu">
        <li><a href="/orders/list_tourist" class="waves-effect waves-light">Заказанные экскурсии</a></li>
    </ul>
    </li>
<li th:if="${isUser} or ${isAdmin}"><a href="/users/account"
th:text="${#messages.msg('titles.account')}">Профиль</a></li>
<li th:unless="${isUser  or isAdmin}"><a href="/users/registration"
th:text="${#messages.msg('titles.registration')}">Регистрация</a></li>
<li th:unless="${isUser or isAdmin}"><a href="/users/login"
th:text="${#messages.msg('titles.login')}">Войти</a></li>
<li th:if="${isUser} or ${isAdmin}"><a href="/users/logout"
th:text="${#messages.msg('titles.logout')}">Выйти</a></li>
</ul>
</div><!--/* navbar collapse end */-->
</div><!--/* container-fluid end */-->
</nav>
</body>
</html>