<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>*/-->
<meta name="description" content=""/>
<meta name="title" content=""/>
<meta name="author" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="keywords" content="excursium"/>

<link rel="stylesheet" type="text/css" href="../resources/css/footer.css"/>
<link rel="stylesheet" href="../resources/libs/bootstrapformhelpers/css/bootstrap-formhelpers.min.css"/>
<link rel="stylesheet" href="../resources/libs/bootstrap-select/css/bootstrap-select.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<link rel="icon" href="../resources/img/icon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="../resources/img/icon.ico" type="image/x-icon"/>

<link rel="stylesheet" type="text/css" href="../resources/css/styles.css"/>
<link rel="stylesheet" href="../resources/css/cards.css"/>
<link rel="stylesheet" href="../resources/css/media.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../resources/libs/bootstrap-select/js/bootstrap-select.js"></script>

<title th:text="${#messages.msg('titles.add_event')}">Добавить тур</title>
</head>
<body style="background-color: #f9f9f9;">
<!--/*@thymesVar id="inputEvent" type="com.heroku.demo.event.Event"*/-->
<!--/*@thymesVar id="message" type="com.heroku.demo.utils.MessageUtil"*/-->
<!--/*@thymesVar id="error_data" type="java.lang.String"*/-->
<div class="content"
th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
<div th:replace="fragments/header :: style"></div>
<div th:replace="fragments/header :: header"></div>
<div class="container">
<div class="page-header">
<h2 th:text="${#messages.msg('titles.add_event')}">Добавление экскурсии</h2>
</div>
<div class="row">
<div class="col-md-12 col-lg-6">

<!-- /* Handling the flash message */-->
<th:block th:if="${message != null}">
<div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">
&nbsp;
</div>
</th:block>

<form th:object="${inputEvent}" method="POST" action="/events/add" enctype="multipart/form-data"
autocomplete="off">
<br/>
<div class="input-group">
<span class="input-group-addon" th:text="${#messages.msg('words.name')}">Название</span>
<input name="name" type="text" class="form-control" id="name" placeholder="Название"
aria-label="Название"
th:value="${inputEvent.getName()}" required="" minlength="10" maxlength="60"/>
<label for="name" th:if="${#fields.hasErrors('name')}"
th:text="${#messages.msg('error.event.name')}" th:class="'error'">Name Error</label>
</div>
<br/>
<div class="input-group">
<span class="input-group-addon" th:text="${#messages.msg('words.description')}">Описание</span>
<textarea name="description" minlength="150" maxlength="1000" type="text" id="description"
class="form-control" placeholder="Описание" required=""
aria-label="Описание" th:text="${inputEvent.getDescription()}"></textarea>
<label for="description" th:if="${#fields.hasErrors('description')}"
th:text="${#messages.msg('error.event.description')}" th:class="'error'">Description
Error</label>
</div>
<br/>
<div class="panel panel-default">
<div class="panel-heading" th:text="${#messages.msg('words.type_of_excursion')}">
Тип экскурсии
</div>
<div class="panel-body">
<div class="input-group">
<select name="category" id="category" class="form-control selectpicker"
th:selected="${inputEvent.getCategory()}?${inputEvent.getCategory()}:0">
<option value="0" th:text="${#messages.msg('category.0')}">Развлечения</option>
<option value="1" th:text="${#messages.msg('category.1')}">Наука</option>
<option value="2" th:text="${#messages.msg('category.2')}">История</option>
<option value="3" th:text="${#messages.msg('category.3')}">Искусство</option>
<option value="4" th:text="${#messages.msg('category.4')}">Производство</option>
<option value="5" th:text="${#messages.msg('category.5')}">Гастрономия</option>
<option value="6" th:text="${#messages.msg('category.6')}">Квесты</option>
<option value="7" th:text="${#messages.msg('category.7')}">Экстрим</option>
</select>
</div>
</div>
</div>
<div class="input-group">
<span class="input-group-addon" th:text="${#messages.msg('words.users_count')}">Количество участников</span>
<input name="usersCount" id="users_count" type="number" class="form-control"
placeholder="Количество участников" required=""
aria-label="Количество участников" min="1" max="100"
th:value="${inputEvent.getUsersCount()}?${inputEvent.getUsersCount()}"/>
<label for="users_count" th:if="${#fields.hasErrors('usersCount')}"
th:text="${#messages.msg('error.event.users_count')}" th:class="'error'">UsersCount
Error</label>
</div>
<br/>
<div class="input-group">
<span class="input-group-addon" th:text="${#messages.msg('words.duration')}">Длительность</span>
<input name="duration" id="duration" type="number" class="form-control"
placeholder="Длительность:" required=""
aria-label="Длительность:"
th:value="${inputEvent.getDuration()}?${inputEvent.getDuration()}" min="1" max="240"/>
<span class="input-group-addon" th:text="${#messages.msg('words.hours')}">часов</span>
<label for="duration" th:if="${#fields.hasErrors('duration')}"
th:text="${#messages.msg('error.event.duration')}" th:class="'error'">Duration
Error</label>
</div>
<br/>
<div class="input-group">
<span class="input-group-addon" th:text="${#messages.msg('words.place')}">Место встречи</span>
<input name="place" id="place" type="text" class="form-control" placeholder="Место встречи"
required="" minlength="5" maxlength="100"
aria-label="Место встречи"
th:value="${inputEvent.getPlace()}?${inputEvent.getPlace()}"/>
<label for="place" th:if="${#fields.hasErrors('place')}"
th:text="${#messages.msg('error.event.place')}" th:class="'error'">Place Error</label>
</div>
<br/>
<div class="input-group">
<span class="input-group-addon" th:text="${#messages.msg('words.price')}">Цена</span>
<input name="price" id="price" type="number" class="form-control" placeholder="Цена"
aria-label="Цена" required="" min="100" max="100000"
th:value="${inputEvent.getPrice()}?${inputEvent.getPrice()}"/>
<span class="input-group-addon">&#8381;</span>
<label for="price" th:if="${#fields.hasErrors('price')}"
th:text="${#messages.msg('error.event.price')}" th:class="'error'">Price Error</label>
</div>
<br/>
<div class="input-group">
<span class="input-group-addon" th:text="${#messages.msg('words.photos')}">Фотографии</span>
<input name="file" type="file" id="file" class="form-control" placeholder="Фотографии"
required="" size="30000000"
accept="image/jpeg,image/png" aria-label="Фотографии"/>
<label for="file" th:if="${error_data}" th:text="${#messages.msg('error.event.file')}"
th:class="'error'">File Error</label>
</div>
<br/>

<div class="panel panel-default">
<div class="panel-heading" th:text="${#messages.msg('words.language')}">
Язык экскурсии
</div>
<div class="panel-body">
<div class="input-group">
<select name="language" class="form-control selectpicker"
th:selected="${inputEvent.getLanguage()}?${inputEvent.getLanguage()}">
<option value="0" th:text="${#messages.msg('language.0')}">Русский</option>
<option value="1" th:text="${#messages.msg('language.1')}">Английский</option>
</select>
</div>
</div>
</div>
<br/>
<button type="submit" value="Upload" class="btn btn-default"
th:text="${#messages.msg('words.submit')}">Отправить
</button>
</form>
</div>
</div>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>