<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="title" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="keywords" content="excursium"/>

    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css"/>
    <link rel="stylesheet" href="../resources/css/media.css"/>
    <link rel="stylesheet" type="text/css" href="../resources/css/footer.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Icon -->
    <link rel="icon" href="../resources/img/icon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../resources/img/icon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="../resources/libs/bootstrap-select/css/bootstrap-select.css"/>
    <script type="text/javascript" src="../resources/libs/bootstrap-select/js/bootstrap-select.js"></script>

    <link rel="stylesheet" href="../resources/css/segoe_ui.css"/>

    <link rel="stylesheet" href="../resources/libs/bootstrapformhelpers/css/bootstrap-formhelpers.min.css"/>
    <script type="text/javascript"
            src="../resources/libs/bootstrapformhelpers/js/bootstrap-formhelpers.min.js"></script>
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../resources/css/cards.css"/>
    <link rel="stylesheet" href="../resources/css/carousel.css"/>

    <title>Экскурсии</title>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('.carousel').carousel({
                interval: 10000
            })
        });
    </script>
</head>
<body style="background-color: #f9f9f9;">
<style type="text/css">

    .navbar-fixed-top {
        min-height: 95px;
    }

    .navbar-nav > li > a {
        font-family: SegoeUIRegular, serif;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 95px;
    }

    .navbar-custom {
        background: linear-gradient(to left, #68b3bd, #00ae6f);
        color: #000000;
        border-radius: 0;
    }

    .navbar-custom .navbar-nav > li > a {
        color: #000000;
    }

    .navbar-custom .navbar-nav > .active > a {
        color: #000000;
        background-color: transparent;
    }

    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus,
    .navbar-custom .navbar-nav > .open > a {
        text-decoration: none;
        background-color: #B2EBF2;
    }

    .navbar-custom .navbar-brand {
        color: #eeeeee;
    }

    .navbar-custom .navbar-toggle {
        background-color: #eeeeee;
    }

    .navbar-custom .icon-bar {
        background-color: #33aa33;
    }
</style>
<div class="content"
     th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
    <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <img id="brand-image" alt="Website Logo" src="../resources/img/logo.png"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Содержимое основной части -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/events/list" th:text="${#messages.msg('titles.excursions')}">Экскурсии</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li th:if="${isAdmin}"><a href="/users/moderation" th:text="${#messages.msg('titles.persons')}">Модерация
                        пользователей</a></li>
                    <li th:if="${isAdmin}"><a href="/events/moderation" th:text="${#messages.msg('titles.events')}">Модерация
                        экскурсий</a></li>
                    <li th:if="${isUser} or ${isAdmin}"><a href="/users/account"
                                                           th:text="${#messages.msg('titles.account')}">Профиль</a></li>
                    <li th:unless="${isUser}"><a href="/users/registration"
                                                 th:text="${#messages.msg('titles.registration')}">Регистрация</a></li>
                    <li th:unless="${isUser}"><a href="/users/login"
                                                 th:text="${#messages.msg('titles.login')}">Войти</a></li>
                    <li th:if="${isUser} or ${isAdmin}"><a href="/users/logout"
                                                           th:text="${#messages.msg('titles.logout')}">Выйти</a></li>
                </ul>

            </div><!-- navbar collapse end -->
        </div><!-- container-fluid end -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-1" style="max-height: 20rem"><!--TODO-->
                        <div class="img_crop">
                            <img th:src="${event.pathToPhoto}" src="../resources/img/bg-cta.jpg" class="img-fluid"
                                 alt=""/>
                        </div>

                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Button-->
                    <a class="btn-floating btn-action waves-effect waves-light"
                       th:href="@{/users/user(id = ${event.getGuideId()})}">
                        <div class="avatar">
                            <img th:src="${event.photoOfGuide}" src="../resources/img/user.png"
                                 class="rounded-circle img-responsive" alt="Аватар"/>
                        </div>
                    </a>
                    <span></span>
                    <p></p>
                    <p></p>
                    <p style="font-size: medium; color: #000000; text-align:right" th:text="${event.fullNameOfGuide}">
                        %FULL_NAME%</p>

                    <!--Card content-->
                    <div class="card-body no-padding text-center">
                        <!--Category & Title-->
                        <h5 th:text="${event.getCategoryString()}">%Категория%</h5>
                        <h4 class="card-title">
                            <strong>
                                <h3 th:text="${event.name}"><a href="">%Название%</a></h3>
                            </strong>
                        </h4>

                        <!--Rating-->
                        <ul class="rating">
                            <span th:if="${(event.getRate()!=-1)and(event.getRate()!=0)}">
                            <li th:each="i : ${#numbers.sequence(0, event.getRate()-1)}">
                                <i class="fa fa-star"></i>
                            </li>
                            </span>
                            <span th:if="${(event.getRate()!=-1)and(event.getRate()!=5)}">
                            <li th:each="i : ${#numbers.sequence(event.getRate(), 4)}">
                                <i class="fa fa-star-o"></i>
                            </li>
                            </span>
                            <span th:if="${(event.getRate()==-1)}">
                            <li th:each="i : ${#numbers.sequence(0, 4)}">
                                <i class="fa fa-star-o"></i>
                            </li>
                            </span>
                        </ul>

                        <!--Description-->
                        <p class="card-text" style="font-size: medium; color: #000000" align="justify"
                           th:text="${event.description}">
                            %Описание%</p>

                        <!--Card footer-->
                        <div class="card-footer">
							<span class="left" style="color:#4285F4; font-size: x-large; padding: 0.4em 0 0 0;">
								<strong th:text="${event.price}">%Цена%</strong>
								<strong>&#8381;</strong>
							</span>
                            <span class="right">
								<a href="#" class="btn btn-primary waves-effect waves-light"
                                   th:text="${#messages.msg('words.book')}">Заказать</a>
							</span>
                        </div>

                    </div>
                    <!--/.Card content-->
                </div>
                <div class="clearfix"></div>
                <br/>

                <div class="carousel slide" id="myCarousel" th:if="${reviews.size()>0}">
                    <div class="carousel-inner">
                        <div class="item active"
                             th:each="i : ${#numbers.sequence(0, reviews.size()-1)}"
                             th:class="'item'+(${i==0}?' active':'')">
                            <div class="card" th:with="review = ${reviews.get(i)}">
                                <div class="card-header">
                                    <img src="../resources/img/user.png" th:src="${review.pathToUserPhoto}"
                                         class="avatar-img"
                                         style="max-height: 3rem"/>
                                    <span class="span_title" style="padding-top: 1em;"
                                          th:text="${review.userFullName}">Вершинин Дмитрий</span>
                                    <span class="span_right" style="padding-top: 1em;">
                                        <span>(</span>
                                        <span th:text="${review.getLikesCount()}">%likes%</span>
                                        <span>)</span>
                                        <a rel="tooltip" title="Like" href="javascript:void(0)">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xs-1" th:if="${reviews.size()>1}">
                                            <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
                                        </div>
                                        <div class="col-xs-10">
                                            <ul class="rating">
                                                <th:block th:if="${(review.getRate()!=-1)and(review.getRate()!=0)}">
                                                    <li th:each="i : ${#numbers.sequence(0, review.getRate()-1)}">
                                                        <i class="fa fa-star"></i>
                                                    </li>
                                                </th:block>
                                                <th:block th:if="${(review.getRate()!=-1)and(review.getRate()!=5)}">
                                                    <li th:each="i : ${#numbers.sequence(review.getRate(), 4)}">
                                                        <i class="fa fa-star-o"></i>
                                                    </li>
                                                </th:block>
                                                <th:block th:if="${(review.getRate()==-1)}">
                                                    <li th:each="i : ${#numbers.sequence(0, 4)}">
                                                        <i class="fa fa-star-o"></i>
                                                    </li>
                                                </th:block>
                                            </ul>
                                            <p class="card-text" style="font-size: medium; color: #000000"
                                               align="justify"
                                               th:text="${review.getData()}">
                                                %Содержимое отзыва%
                                            </p>
                                        </div>
                                        <div class="col-xs-1" th:if="${reviews.size()>1}">
                                            <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span style="color: #aaaaaa;" th:text="${review.getTime()}">31 Aug 2017 12:41</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="myFooter">
    <div class="container">
        <h7 class="logo"><a href="#">&copy; 2017 Excursium</a></h7>
        <div class="social-icons">
            <a href="https://vk.com/excursium" class="twitter"><i class="fa fa-vk"></i></a>
        </div>
    </div>
</footer>

</body>
</html>