<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
    <meta name="description" content=""/>
    <meta name="title" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="keywords" content="excursium"/>

    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css"/>
    <link rel="stylesheet" href="../resources/css/media.css"/>
    <link rel="stylesheet" type="text/css" href="../resources/css/footer.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Icon -->
    <link rel="icon" href="../resources/img/icon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../resources/img/icon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="../resources/libs/bootstrap-select/css/bootstrap-select.css"/>
    <script type="text/javascript" src="../resources/libs/bootstrap-select/js/bootstrap-select.js"></script>

    <link rel="stylesheet" href="../resources/css/segoe_ui.css"/>

    <link rel="stylesheet" href="../resources/libs/bootstrapformhelpers/css/bootstrap-formhelpers.min.css"/>
    <script type="text/javascript"
            src="../resources/libs/bootstrapformhelpers/js/bootstrap-formhelpers.min.js"></script>


    <title>Добавить тур</title>
</head>
<body style="background-color: #f9f9f9;">
<style type="text/css">

    .navbar-fixed-top {
        min-height: 95px;
    }

    .navbar-nav > li > a {
        font-family: SegoeUIRegular, serif;
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 95px;
    }

    .navbar-custom {
        background: linear-gradient(to left, #68b3bd, #00ae6f);
        color: #000000;
        border-radius: 0;
    }

    .navbar-custom .navbar-nav > li > a {
        color: #000000;
    }

    .navbar-custom .navbar-nav > .active > a {
        color: #000000;
        background-color: transparent;
    }

    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus,
    .navbar-custom .navbar-nav > .open > a {
        text-decoration: none;
        background-color: #B2EBF2;
    }

    .navbar-custom .navbar-brand {
        color: #eeeeee;
    }

    .navbar-custom .navbar-toggle {
        background-color: #eeeeee;
    }

    .navbar-custom .icon-bar {
        background-color: #33aa33;
    }
</style>
<div class="content">
    <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <img id="brand-image" alt="Website Logo" src="../resources/img/logo.png"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Содержимое основной части -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="event_list.html">Экскурсии</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="index.html#contact">Контакты</a></li>
                    <li><a href="registration.html">Регистрация</a></li>
                </ul>

            </div><!-- navbar collapse end -->
        </div><!-- container-fluid end -->
    </nav>
    <div class="container">
        <div class="page-header">
            <h2>Добавление экскурсии</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <form th:object="${inputEvent}" method="POST" action="/addeventhttp" enctype="multipart/form-data">
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Название</span>
                        <input name="name" type="text" class="form-control" id = "name" placeholder="Название" aria-label="Название"
                               aria-describedby="basic-addon1" th:value="${inputEvent.getName()}"/>
                        <label for="name" th:if="${#fields.hasErrors('name')}" th:text="${#messages.msg('error.event.name')}" th:class="'error'">Name Error</label>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Описание</span>
                        <textarea name="description" type="text" id = "description" class="form-control" placeholder="Описание"
                                  aria-label="Описание" aria-describedby="basic-addon1" th:text="${inputEvent.getDescription()}"></textarea>
                        <label for="description" th:if="${#fields.hasErrors('description')}" th:text="${#messages.msg('error.event.description')}" th:class="'error'">Description Error</label>
                    </div>
                    <br/>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Тип экскурсии
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <select name="category" id = "category" class="form-control selectpicker" th:selected="${inputEvent.getCategory()}?${insertEvent.getCategory()}:0">
                                    <option value="0">Развлечения</option>
                                    <option value="1">Наука</option>
                                    <option value="2">История</option>
                                    <option value="3">Искусство</option>
                                    <option value="4">Производство</option>
                                    <option value="5">Гастрономия</option>
                                    <option value="6">Квесты</option>
                                    <option value="7">Экстрим</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Количество участников</span>
                        <input name="usersCount" id = "users_count" type="number" class="form-control" placeholder="Количество участников"
                               aria-label="Количество участников" aria-describedby="basic-addon1" th:value="${inputEvent.getUsersCount()}?${insertEvent.getUsersCount()}"/>
                        <label for="users_count" th:if="${#fields.hasErrors('usersCount')}" th:text="${#messages.msg('error.event.users_count')}" th:class="'error'">UsersCount Error</label>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Длительность:</span>
                        <input name="duration" id = "duration" type="number" class="form-control" placeholder="Длительность:"
                               aria-label="Длительность:" aria-describedby="basic-addon1" th:value="${inputEvent.getDuration()}?${insertEvent.getDuration()}"/>
                        <span class="input-group-addon" id="basic-addon1">часов</span>
                        <label for="duration" th:if="${#fields.hasErrors('duration')}" th:text="${#messages.msg('error.event.duration')}" th:class="'error'">Duration Error</label>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Место встречи</span>
                        <input name="place" id = "place" type="text" class="form-control" placeholder="Место встречи"
                               aria-label="Место встречи" aria-describedby="basic-addon1" th:value="${inputEvent.getPlace()}?${insertEvent.getPlace()}"/>
                        <label for="place" th:if="${#fields.hasErrors('place')}" th:text="${#messages.msg('error.event.place')}" th:class="'error'">Place Error</label>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Цена</span>
                        <input name="price" id = "price" type="number" class="form-control" placeholder="Цена" aria-label="Цена"
                               aria-describedby="basic-addon1" th:value="${inputEvent.getPrice()}?${insertEvent.getPrice()}"/>
                        <span class="input-group-addon" id="basic-addon1">&#8381;</span>
                        <label for="price" th:if="${#fields.hasErrors('price')}" th:text="${#messages.msg('error.event.price')}" th:class="'error'">Price Error</label>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Фотографии</span>
                        <input name="file" type="file" class="form-control" placeholder="Фотографии" th:value="${file}?${file}"
                               accept="image/jpeg,image/png" aria-label="Фотографии" aria-describedby="basic-addon1"/>
                    </div>
                    <br/>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Язык (language)
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <select name="language" class="form-control selectpicker" th:selected="${inputEvent.getLanguage()}?${insertEvent.getLanguage()}">
                                    <option value="0">Русский</option>
                                    <option value="1">English</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <button type="submit" value="Upload" class="btn btn-default">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer id="myFooter">
    <div class="container">
        <h7 class="logo"><a href="#">&copy; 2017 Excursium</a></h7>
        <div class="social-icons">
            <a href="https://vk.com/excursium" class="twitter"><i class="fa fa-vk"></i></a>
        </div>
    </div>
</footer>

</body>
</html>