<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="title" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="keywords" content="excursium"/>

    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css"/>
    <link rel="stylesheet" href="../resources/css/media.css"/>
    <link rel="stylesheet" type="text/css" href="../resources/css/footer.css"/>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../resources/libs/bootstrap-select/css/bootstrap-select.css"/>
    <script type="text/javascript" src="../resources/libs/bootstrap-select/js/bootstrap-select.js"></script>

    <link rel="stylesheet" href="../resources/css/segoe_ui.css"/>

    <!-- Icon -->
    <link rel="icon" href="../resources/img/icon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../resources/img/icon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="../resources/libs/bootstrapformhelpers/css/bootstrap-formhelpers.min.css"/>
    <script type="text/javascript"
            src="../resources/libs/bootstrapformhelpers/js/bootstrap-formhelpers.min.js"></script>
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../resources/css/cards.css"/>


    <link rel="stylesheet" href="../resources/css/slider/jslider.css" type="text/css"/>
    <link rel="stylesheet" href="../resources/css/slider/jslider.plastic.css" type="text/css"/>
    <!-- end -->

    <script type="text/javascript" src="../resources/js/slider/jquery-1.7.1.js"></script>

    <!-- bin/jquery.slider.min.js -->
    <script type="text/javascript" src="../resources/js/slider/jshashtable-2.1_src.js"></script>
    <script type="text/javascript" src="../resources/js/slider/jquery.numberformatter-1.2.3.js"></script>
    <script type="text/javascript" src="../resources/js/slider/tmpl.js"></script>
    <script type="text/javascript" src="../resources/js/slider/jquery.dependClass-0.1.js"></script>
    <script type="text/javascript" src="../resources/js/slider/draggable-0.1.js"></script>
    <script type="text/javascript" src="../resources/js/slider/jquery.slider.js"></script>
    <!-- end -->

    <style type="text/css" media="screen">
        .layout-slider {
            margin-bottom: 60px;
            width: 50%;
        }
    </style>


    <title th:text="${#messages.msg('titles.excursions')}">Экскурсии</title>
</head>
<body style="background-color: #f9f9f9;">
<style type="text/css">

    .navbar-fixed-top {
        min-height: 95px;
    }

    .navbar-nav > li > a {
        font-family: SegoeUIRegular, serif;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 95px;
    }

    .navbar-custom {
        background: linear-gradient(to left, #68b3bd, #00ae6f);
        color: #000000;
        border-radius: 0;
    }

    .navbar-custom .navbar-nav > li > a {
        color: #000000;
    }

    .navbar-custom .navbar-nav > .active > a {
        color: #000000;
        background-color: transparent;
    }

    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus,
    .navbar-custom .navbar-nav > .open > a {
        text-decoration: none;
        background-color: #B2EBF2;
    }

    .navbar-custom .navbar-brand {
        color: #eeeeee;
    }

    .navbar-custom .navbar-toggle {
        background-color: #eeeeee;
    }

    .navbar-custom .icon-bar {
        background-color: #33aa33;
    }
</style>
<div class="content"
     th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
    <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <img id="brand-image" alt="Website Logo" src="../resources/img/logo.png"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Содержимое основной части -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/events/list" th:text="${#messages.msg('titles.excursions')}">Экскурсии</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li th:if="${isAdmin}"><a href="/users/moderation" th:text="${#messages.msg('titles.persons')}">Модерация
                        пользователей</a></li>
                    <li th:if="${isAdmin}"><a href="/events/moderation" th:text="${#messages.msg('titles.events')}">Модерация
                        экскурсий</a></li>
                    <li th:if="${isUser} or ${isAdmin}"><a href="/users/account" th:text="${#messages.msg('titles.account')}">Профиль</a></li>
                    <li th:unless="${isUser}"><a href="/users/registration"
                                                 th:text="${#messages.msg('titles.registration')}">Регистрация</a></li>
                    <li th:unless="${isUser}"><a href="/users/login"
                                                 th:text="${#messages.msg('titles.login')}">Войти</a></li>
                    <li th:if="${isUser} or ${isAdmin}"><a href="/users/logout"
                                                           th:text="${#messages.msg('titles.logout')}">Выйти</a></li>
                </ul>

            </div><!-- navbar collapse end -->
        </div><!-- container-fluid end -->
    </nav>
    <div class="container">
        <!--<div class="page-header">-->
        <!--<a href="/events/list"><h2>Экскурсии</h2></a>-->
        <!--</div>-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="left-sidebar">
                        <h2>Категории</h2>
                        <div class="panel-body">
                            <div class="chip"
                                 th:each="i : ${#numbers.sequence(0, utils.getCategoriesCount()-1)}">
                                <a th:href="@{/events/list(category=${i})}">
                                    <img th:src="${utils.getCategoryUrl(i)}" alt=""
                                         src="../resources/img/user.png"/>
                                    <span th:text="${#messages.msg('category.'+i)}">%Категория%</span>
                                </a>
                            </div>
                        </div>
                        <h2>Фильтр</h2>
                        <form method="get" action="/events/list">
                            <br/>
                            <div class="panel panel-default">
                                <div class="panel-heading" th:text="${#messages.msg('words.sort')}">
                                    Сортировка
                                </div>
                                <div class="panel-body">
                                    <div class="input-group">
                                        <select name="sort_by" class="selectpicker">
                                            <option value="-1">По популярности</option>
                                            <option value="2">Сначала дешевые</option>
                                            <option value="3">Сначала дорогие</option>
                                            <option value="5">По рейтингу</option>
                                            <option value="1">По новизне</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="priceFilter">
                                <div class="price-range">
                                    <div class="well">
                                        <h5>Цена</h5>
                                        <br/>
                                        <div class="layout-slider" style="width: 100%">
                                        <span
                                                style="display: inline-block; width: 100%; padding: 0 5px;">
                                        <input id="Slider1" type="slider" name="price" value="0;3000"/></span>
                                        </div>
                                        <br/>
                                        <div class="checkbox">
                                            <input type="checkbox" id="is_barter" name="is_barter"/>
                                            <label for = "is_barter"><span>Отображать сделки по бартеру</span></label>
                                        </div>
                                        <script type="text/javascript" charset="utf-8">
                                            jQuery("#Slider1").slider({
                                                /*from: 1000,
                                                to: 100000,
                                                step: 500,
                                                smooth: true,
                                                round: 0,
                                                dimension: "&nbsp;₽",
                                                skin: "plastic"*/
                                                from: 0,
                                                to: 100000,
                                                heterogeneity: ['25/1000', '50/3000', '75/10000', '100/100000'],
                                                scale: [0, '|', 1000, '|', 3000, '|', 10000, '|', 100000],
                                                limits: false,
                                                step: 1,
                                                dimension: '',
                                                skin: "blue"
                                            });
                                        </script>
                                    </div>
                                    <div class="well">
                                        <h5>Время</h5>
                                        <br/>
                                        <div class="layout-slider" style="width: 100%">
                                            <span
                                                    style="display: inline-block; width: 100%; padding: 0 5px;">
                                            <input id="Slider2" type="slider" name="time" value="600;1200"/></span>
                                        </div>
                                        <script th:inline="javascript">
                                            /*<![CDATA[*/
                                            jQuery("#Slider2").slider({
                                                from: 480,
                                                to: 1440,
                                                step: 15,
                                                dimension: '',
                                                skin: "plastic",
                                                scale: ['8:00', '10:00', '12:00', '14:00', '16:00', '18:00', '20:00', '22:00', '24:00'],
                                                limits: false,
                                                calculate: function (value) {
                                                    var hours = Math.floor(value / 60);
                                                    var mins = value - hours * 60;
                                                    return (hours<10?"0"+hours:hours)+":"+(mins<10?"0"+mins:mins);
                                                },
                                                onstatechange: function (value) {
                                                    console.dir(this);
                                                }
                                            });
                                            /*]]>*/
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <br/>
                                <button class="btn btn-default add-to-cart" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                                    Фильтровать товары
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h2 class="title text-center" th:text="${#messages.msg('titles.excursions')}">Экскурсии</h2>
                    <!--Grid column-->
                    <div class="row" th:each="i : ${#numbers.sequence( 0, events.size()-1)}">
                        <th:block th:if="${i%2==0}" th:with="inc = ${i!=events.size()-1?1:0}">
                            <div class="col-sm-6" th:each="j : ${#numbers.sequence(i,i+inc)}"
                                 th:with="event=${events.get(j)}">
                                <div class="card">
                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight z-depth-1">
                                        <div class="img_crop">
                                            <img src="../resources/img/bg-cta.jpg" th:src="${event.pathToPhoto}"
                                                 class="img-fluid" alt=""/>
                                        </div>
                                        <a th:href="@{/events/event(id = ${event.getId()})}">
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-body no-padding text-center">
                                        <!--Category & Title-->
                                        <h5 th:text="${{event.getCategoryString()}}">%CATEGORY%</h5>
                                        <h4 class="card-title">
                                            <strong>
                                                <h3>
                                                    <a th:href="@{/events/event(id=${event.getId()})}"
                                                       th:text="${event.name}">%NAME%</a>
                                                </h3>
                                            </strong>
                                        </h4>

                                        <!--Rating-->
                                        <ul class="rating">
                            <span th:if="${(event.getRate()!=-1)and(event.getRate()!=0)}">
                                <li th:each="i : ${#numbers.sequence(0, event.getRate()-1)}">
                                    <i class="fa fa-star"></i>
                                </li>
                            </span>
                                            <span th:if="${(event.getRate()!=-1)and(event.getRate()!=5)}">
                                <li th:each="i : ${#numbers.sequence(event.getRate(), 4)}">
                                    <i class="fa fa-star-o"></i>
                                </li>
                            </span>
                                            <span th:if="${(event.getRate()==-1)}">
                                <li th:each="i : ${#numbers.sequence(0, 4)}">
                                    <i class="fa fa-star-o"></i>
                                </li>
                            </span>
                                        </ul>

                                        <!--Description-->
                                        <p class="card-text" style="font-size: medium; color: #000000"
                                           th:text="${event.getSmallDescription()}">%DESCRIPTION%</p>

                                        <!--Card footer-->
                                        <div class="card-footer">
                           <span class="left" style="color:#4285F4; font-size: large;">
                            <strong th:text="${event.getPrice()}">%PRICE%</strong>
                            <strong>&#8381;</strong>
                        </span>
                                            <span class="right">
                            <a th:href="@{/events/event(id=${event.getId()})}"
                               class="btn btn-primary waves-effect waves-light"
                               th:text="${#messages.msg('words.open')}">Открыть</a>
                        </span>
                                        </div>

                                    </div>
                                    <!--/.Card content-->
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <!--Grid column-->
                    <div class="row">

                        <!--Pagination -->
                        <nav class="my-4 d-flex justify-content-center"  th:if="${pageCount>1}">
                            <ul class="pagination pagination-circle pg-blue mb-0">

                                <!--TODO:
                                        <div class="pull-left pagination-detail"><span class="pagination-info"></span><span
                                        class="page-list"><span class="btn-group dropup"><button type="button"
                                                                                                 class="btn btn-default  dropdown-toggle"
                                                                                                 data-toggle="dropdown"
                                                                                                 aria-expanded="false"><span
                                        class="page-size">8</span> <span class="caret"></span></button><ul class="dropdown-menu"
                                                                                                           role="menu"><li
                                        class="active"><a href="javascript:void(0)">8</a></li><li><a href="javascript:void(0)">10</a></li><li><a
                                        href="javascript:void(0)">25</a></li><li><a href="javascript:void(0)">50</a></li><li><a
                                        href="javascript:void(0)">100</a></li></ul></span> rows visible</span></div>-->

                                <!--First-->

                                <li th:class="(${page==1}?'disabled ':'') + 'page-item clearfix d-none d-md-block'"><a
                                        class="page-link waves-effect waves-effect" href="/events/list">В начало</a></li>

                                <!--Arrow left-->
                                <li th:class="(${page==1}?'disabled ':'') + 'page-item'">
                                    <a class="page-link waves-effect waves-effect" aria-label="Назад">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Назад</span>
                                    </a>
                                </li>

                                <!--Numbers-->
                                <th:block th:each="i : ${#numbers.sequence( 1, pageCount)}">
                                    <li th:class="(${page} eq ${i}?'active ':'') + 'page-item'"><a class="page-link waves-effect waves-effect" th:text="${i}" th:href="@{/events/list(page=${i})}">1</a></li>
                                </th:block>

                                <!--Arrow right-->
                                <li th:class="(${page==pageCount}?'diabled ':'') +'page-item'">
                                    <a class="page-link waves-effect waves-effect" aria-label="Вперёд">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Вперёд</span>
                                    </a>
                                </li>

                                <!--First-->
                                <li th:class="(${page==pageCount}?'diabled ':'') + 'page-item clearfix d-none d-md-block'"><a
                                        class="page-link waves-effect waves-effect">В конец</a></li>

                            </ul>
                        </nav>
                        <!--/Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="myFooter">
    <div class="container">
        <h7 class="logo"><a href="#">&copy; 2017 Excursium</a></h7>
        <div class="social-icons">
            <a href="https://vk.com/excursium" class="twitter"><i class="fa fa-vk"></i></a>
        </div>
    </div>
</footer>

</body>
</html>