<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>

<!--/* Bootstrap core CSS */-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../resources/css/cards.css"/>
<!--/* Custom styles for this template */-->
<link href="../resources/css/styles.css" rel="stylesheet"/>
    <!--/* Custom styles for this template */-->
    <link href="../resources/css/media.css" rel="stylesheet"/>
<!--/* Icon */-->
<link rel="icon" href="../resources/img/icon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="../resources/img/icon.ico" type="image/x-icon"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--/* Custom fonts for this template */-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<title>Excursium</title>
</head>

<body style="background-color: #f9f9f9;">

<div class="content"  th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <th:block th:each="i : ${#numbers.sequence(0, 6)}">
            <div class="col-md-4">
                <div class="card card-inverse view overlay hm-white-slight z-depth-1">
                    <img class="card-img" src="../resources/img/user.png" alt="Card image"/>
                    <a th:href="@{/events/list(country=${i})}">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                    <div class="card-info">
                        <h1 class="card-title" style="color: #ffffff"
                            th:text="${#messages.msg('city.0.'+i)}">Россия</h1>
                        <h2 class="card-text" style="color: #ffffff"
                            th:text="'25 экскурсий'">261
                            экскурсия</h2><!--TODO: окончания-->
                    </div>
                </div>
            </div>
            <th:block th:if="${i%3==2}">
                <div class="clearfix"></div>
                <br/>
            </th:block>
        </th:block>
    </div>
</div>

<footer>
<div class="container pt-0">
<p>&copy; 2017 Excursium</p>
<ul class="list-inline">
<li class="list-inline-item">
<a href="#" th:text="${#messages.msg('titles.about_us')}">О нас</a>
</li>
<li class="list-inline-it">
<a href="#">FAQ</a>
</li>
<li class="list-inline-item">
<a href="/users/registration" th:text="${#messages.msg('titles.registration')}">Регистрация</a>
</li>
</ul>
</div>
</footer>
</div>

<!--/* Yandex.Metrika counter */--> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46873476 = new Ya.Metrika({ id:46873476, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46873476" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!--/* /Yandex.Metrika counter */-->
</body>

</html>