<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="title" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="keywords" content="excursium"/>

    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css"/>
    <link rel="stylesheet" href="../resources/css/media.css"/>
    <link rel="stylesheet" type="text/css" href="../resources/css/footer.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../resources/libs/bootstrap-select/css/bootstrap-select.css"/>
    <script type="text/javascript" src="../resources/libs/bootstrap-select/js/bootstrap-select.js"></script>

    <link rel="stylesheet" href="../resources/css/segoe_ui.css"/>

    <!-- Icon -->
    <link rel="icon" href="../resources/img/icon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../resources/img/icon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="../resources/libs/bootstrapformhelpers/css/bootstrap-formhelpers.min.css"/>
    <script type="text/javascript"
            src="../resources/libs/bootstrapformhelpers/js/bootstrap-formhelpers.min.js"></script>


    <title th:text="${#messages.msg('titles.registration')}">Регистрация</title>

</head>
<body style="background-color: #f9f9f9;">
<style type="text/css">

    .navbar-fixed-top {
        min-height: 95px;
    }

    .navbar-nav > li > a {
        font-family: SegoeUIRegular;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 95px;
    }

    .navbar-custom {
        background: linear-gradient(to left, #68b3bd, #00ae6f);
        color: #000000;
        border-radius: 0;
    }

    .navbar-custom .navbar-nav > li > a {
        color: #000000;
    }

    .navbar-custom .navbar-nav > .active > a {
        color: #000000;
        background-color: transparent;
    }

    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus,
    .navbar-custom .navbar-nav > .open > a {
        text-decoration: none;
        background-color: #B2EBF2;
    }

    .navbar-custom .navbar-brand {
        color: #eeeeee;
    }

    .navbar-custom .navbar-toggle {
        background-color: #eeeeee;
    }

    .navbar-custom .icon-bar {
        background-color: #33aa33;
    }
</style>
<div class="content"
     th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
    <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <img id="brand-image" alt="Website Logo" src="../resources/img/logo.png"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Содержимое основной части -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/events/list" th:text="${#messages.msg('titles.excursions')}">Экскурсии</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li th:if="${isAdmin}"><a href="/users/moderation" th:text="${#messages.msg('titles.persons')}">Модерация
                        пользователей</a></li>
                    <li th:if="${isAdmin}"><a href="/events/moderation" th:text="${#messages.msg('titles.events')}">Модерация
                        экскурсий</a></li>
                    <li th:if="${isUser} or ${isAdmin}"><a href="/users/account" th:text="${#messages.msg('titles.account')}">Профиль</a></li>
                    <li th:unless="${isUser}"><a href="/users/registration"
                                                 th:text="${#messages.msg('titles.registration')}">Регистрация</a></li>
                    <li th:unless="${isUser}"><a href="/users/login"
                                                 th:text="${#messages.msg('titles.login')}">Войти</a></li>
                    <li th:if="${isUser} or ${isAdmin}"><a href="/users/logout"
                                                           th:text="${#messages.msg('titles.logout')}">Выйти</a></li>
                </ul>

            </div><!-- navbar collapse end -->
        </div><!-- container-fluid end -->
    </nav>
    <div class="container">
        <div class="page-header">
            <h2>
                <th:block th:text="${#messages.msg('titles.registration')}"/>
                / <a href="/users/login">
                <th:block th:text="${#messages.msg('titles.login')}"/>
            </a>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-8">

                <!-- /* Handling the flash message */-->
                <th:block th:if="${message != null}">
                    <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">
                        &nbsp;
                    </div>
                </th:block>

                <form th:object="${insertPerson}" method="POST" action="/users/registration"
                      enctype="multipart/form-data">
                    <br/>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon"
                                      th:text="${#messages.msg('words.first_name')} + ' *'">Имя</span>
                                <input name="firstName" type="text" class="form-control"
                                       th:value="${insertPerson.getFirstName()}" placeholder="Имя" aria-label="Имя"
                                       required=""/>
                            </div>
                        </div>
                        <div class="visible-sm-block visible-xs-block visible-md-block ">
                            <br/>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon"
                                      th:text="${#messages.msg('words.last_name')} + ' *'">Фамилия</span>
                                <input name="lastName" type="text" class="form-control"
                                       th:value="${insertPerson.getLastName()}"
                                       placeholder="Фамилия" required=""
                                       aria-label="Фамилия"/>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" th:text="${#messages.msg('words.login')} + ' *'">Логин</span>
                        <input name="login" id="login" type="text" class="form-control" placeholder="Логин"
                               aria-label="Логин" th:value="${insertPerson.getLogin()}" required=""/>
                        <label for="login" th:if="${error_login}" th:text="${#messages.msg('error.user.login.free')}"
                               th:class="'error'">Name Error</label>
                        <label for="login" th:if="${#fields.hasErrors('login')}"
                               th:text="${#messages.msg('error.user.login.size')}" th:class="'error'">Name Error</label>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon"
                                      th:text="${#messages.msg('words.password')} + ' *'">Пароль</span>
                                <input name="pass" id="pass" type="password" class="form-control" minlength="6"
                                       placeholder="Пароль" aria-label="Пароль" required=""/>
                                <label for="pass" th:if="${error_pass}" th:text="${#messages.msg('error.user.pass2')}"
                                       th:class="'error'">Name Error</label>
                                <!--<label for="pass" th:if="${#fields.hasErrors('pass')}" th:text="${#messages.msg('error.user.pass')}" th:class="'error'">Name Error</label>-->
                            </div>
                        </div>
                        <div class="visible-sm-block visible-xs-block visible-md-block ">
                            <br/>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon" th:text="${#messages.msg('words.password_again')} + ' *'">Повторите пароль</span>
                                <input name="pass2" type="password" id="pass2" class="form-control"
                                       placeholder="Повторите пароль" aria-label="Повторите пароль" required=""/>
                                <label for="pass2" th:if="${error_pass}" th:text="${#messages.msg('error.user.pass2')}"
                                       th:class="'error'">Name Error</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Email *</span>
                        <input name="email" id="email" type="email" class="form-control"
                               th:value="${insertPerson.getEmail()}" placeholder="Email" aria-label="Email"
                               required=""/>
                        <label for="email" th:if="${error_email_free}"
                               th:text="${#messages.msg('error.user.email.free')}" th:class="'error'">Name
                            Error</label>
                        <label for="email" th:if="${error_email_valid}"
                               th:text="${#messages.msg('error.user.email.valid')}" th:class="'error'">Name
                            Error</label>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" th:text="${#messages.msg('words.city')} + ' *'">Город *</span>
                        <input name="city" type="text" class="form-control" th:value="${insertPerson.getCity()}"
                               placeholder="Город" required="" aria-label="Город"/>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" th:text="${#messages.msg('words.phone')}">Телефон</span>
                        <input name="phoneNumber" type="text" class="form-control bfh-phone"
                               th:value="${insertPerson.getPhoneNumber()}" placeholder="Телефон" required=""
                               minlength="17"
                               aria-label="Телефон" data-format="+7 (ddd) ddd-dddd" id="phone_number"/>
                        <label for="phone_number" th:if="${error_phone}"
                               th:text="${#messages.msg('error.user.phone_number.free')}" th:class="'error'">Name
                            Error</label>
                        <label for="phone_number" th:if="${#fields.hasErrors('phoneNumber')}"
                               th:text="${#messages.msg('error.user.phone_number.invalid')}" th:class="'error'">Name
                            Error</label>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" th:text="${#messages.msg('words.photo')}">Фотография</span>
                        <input name="file" type="file" id="file" class="form-control" placeholder="Фотография"
                               required=""
                               accept="image/jpeg,image/png" aria-label="Фотография"/>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-default" th:text="${#messages.msg('words.submit')}">
                        Отправить
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>
<footer id="myFooter">
    <div class="container">
        <h7 class="logo"><a href="#">&copy; 2017 Excursium</a></h7>
        <div class="social-icons">
            <a href="https://vk.com/excursium" class="twitter"><i class="fa fa-vk"></i></a>
        </div>
    </div>
</footer>
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46873476 = new Ya.Metrika({ id:46873476, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46873476" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>