<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload File Request Page</title>
</head>
<body>
<div th:replace="fragments/header :: style"></div>
<div th:replace="fragments/header :: header"></div>
<form method="POST" action="/uploadMultipleFile" enctype="multipart/form-data">
    File1 to upload: <input type="file" name="file"/><br/>
    File2 to upload: <input type="file" name="file2"/><br/>
    File3 to upload: <input type="file" name="file3"/><br/>
    <input type="submit" value="Upload"/> Press here to upload the file!
</form>
<
</body>
</html>