html *
{
   font-family: SegoeUIRegular;

   font-size: medium;
}
.phoneScreen
{
	height: 200px;
}
.page-footer-container .page-footer--bottom
{
	position:absolute;
	bottom:0;
	left:0;
	width:100%
}
.page-footer
{
	width:100%;
	color:rgba(255,255,255,0.6);
	font-size:14px;
	line-height:16px
}
#brand-image {
	height: 70px;
}
.osSize
{
	height: 100px;
}
.ftr-color-1
{
	background-color: #faf7eb;
}
.ftr-color-2
{
	background-color: #f4f9fc;	
}
.ftr-color-3
{
	background-color: #f4f9fc;	
}
.ftr-color-4
{
	background-color: #f8f2d9;	
}